body
    background-color: #fbfcfd
    min-width: 540px
    margin: 0 auto    

    //div Container START
.container
    max-width: 540px
    margin: 0 auto
    overflow: hidden
.mainWraper
    min-width: 540px
    grid-row-gap: 20px
    //div Container END

    //Div Header START
.header
    overflow: hidden
.head-logo
    grid-column-start: 1
    grid-column-end: 6
img.main-logo
    width: 150px
.nav-menu
    //display: none
    grid-column-start: 1
    grid-column-end: 13
    grid-row-start: 1
    grid-row-end: 2
    background: #fbfcfd
    transition: 0.3s
    transform-origin: right center
    transform: translateX(100%)
    opacity: 0
    .nav-links
        grid-column-start: 1
        grid-column-end: 12 
        margin-top: 3px
    .nav-logo
        display: none
    .nav-srch
        display: none
.nav-menu_active
    transform: translateX(0%)
    opacity: 1
.a-nav-srch
    display: block
    grid-column-start: -2
    grid-column-end: -6
    grid-row-start: 1
    grid-row-end: 2
    align-self: center
    justify-self: flex-end
    input
        width: 130px
        height: 20px
        border: none
        background: #fbfcfd
        font-size: 18px
    input:focus
        outline: 0
        outline-offset: 0
.section
    grid-column-start: -2
    grid-column-end: -1
    grid-row-start: 1
    grid-row-end: 2
    display: grid
    justify-content: flex-start
    align-items: center
    z-index: 100
    background: #fbfcfd
.menu-btn
    display: block
    width: 40px
    height: 20px
    background-color: #fbfcfd
    border-radius: 50%
    position: relative
    span,
    span::before,
    span::after
        position: absolute
        top: 50% 
        margin-top: -1px
        left: 50%
        margin-left: -12px
        width: 24px
        height: 2px
        background-color: #000
    span::before,
    span::after
        content: ''
        display: block
        transition: 0.2s
    span::before
        transform: translateY(-5px)
    span::after
        transform: translateY(5px)
.menu-btn-active span
    height: 0
.menu-btn-active span::before
    transform: rotate(45deg)
.menu-btn-active span::after
    transform: rotate(-45deg)
    //Div Header END

    //div Content 
.content
    max-width: 540px
    grid-row-gap: 0px
    background: #fbfcfd
.recipe
    display: none
.picture
    grid-column-start: 1
    grid-column-end: 3


//Div Dishes-csrousel
.carousel
    background: #fbfcfd
.picture img
    margin: 1rem 0 0 2rem
.slide-1 .picture img
    //margin: 0rem 0 0 9rem
    height: 15rem    
.slide-2 .picture img
    margin: 1rem 0 0 5rem
    height: 22rem
.slide-3 .picture img
    margin: 0rem 0 0 8rem
    height: 16rem
.slide-4 .picture img
    margin: 0rem 0 0 8rem
    height: 16rem
.slide-5 .picture img
    margin: 0rem 0 0 9rem
    height: 20rem
.resp-btn
    grid-column-start: 1
    grid-column-end: 3
    a
        text-decoration: none
    input
        /* Style for "GET IT REC" */
        display: flex   
        width: 100%
        height: 40px
        border: none//1px solid #c2c2c2
        background-color: #f8f8f8
        font-family: "Josefin Sans", sans-serif
        font-size: 18px
        font-weight: 300
        text-transform: uppercase
        /* Text style for "GET IT REC" */
        letter-spacing: 0.3px
        justify-content: center
        align-items: center
    input:focus
        outline: none

//Div AUTHOR

.author
    grid-column-start: 1
    grid-column-end: 13
    grid-row-start: 2
    grid-row-end: 3
    height: 100%
    background: #fbfcfd
    display: grid
    grid-template-columns: 1fr 3fr
    grid-auto-rows: minmax(20px, auto)
    grid-template-areas: "heading heading" "photo name" "photo links" "photo about" "photo signature"

.a-header
    grid-area: heading

.line img
    width: 470px

.a-photo
    grid-area: photo
    display: grid
    justify-content: center
    align-items: flex-start
    
.a-name
    grid-area: name
    display: grid
    justify-content: flex-start
    padding-left: 15px
    margin-top: 25px
.a-links
    grid-area: links
    display: grid
    justify-content: flex-start
    padding-left: 15px
    margin-top: 5px
    .a-m-links
        margin-top: 10px

.a-text
    grid-area: about
    display: grid
    padding-left: 15px
    margin-top: 50px
    h3
        margin: 0
    p
        margin-top: 30px
        padding-right: 20px

.a-signature
    grid-area: signature
    display: grid