$bgwhite: #fff;
$textBlack:  #000;
$footerbg: #00586e;
$blogLinks: #f2b432;
$menuBG: #f6f7f7;
$greyLink: #7b7d7f;
$blueLink: #3c7abf;
$aboutNum: #00586e;


.reg_enter
    width: 100vw
    height: 100vh
    margin: 0 auto
    background: url(../img/regEnter/enter_bg.jpg) center no-repeat
    background-size: 100%
    z-index: 101
    display: none
    align-items: center
    justify-content: center
    left: 0
    position: sticky
    // z-index: 100
    top: 0
    input
        outline: none

    .f-enter
        position: relative
        display: grid
        grid-template-columns: 1fr
        grid-template-rows: 6.21875vw 22.1875vw
        background: $bgwhite
        width: 40.234375vw
        height: 28.40625vw
        border-radius: 10px
        input.close-btn
            position: absolute 
            right: 1vw
            top: 1vw
        .enter-logo
            grid-column-start: 1
            grid-column-end: 2
            grid-row-start: 1
            grid-row-end: 2
            height: 6.71875vw
            display: flex
            align-items: flex-end
            img
                margin-left: 3vw
                height: 3.515625vw
                width: 8.203125vw
            input
                border: 0
                height: 2vw
                width: 2vw
                background: url(../img/regEnter/close-icon.png) center center no-repeat
                cursor: pointer
        form
            grid-column-start: 1
            grid-column-end: 2
            height: 22.1875vw
            grid-row-start: 2
            margin-left: 3vw
            font-family: "Open Sans", sans-serif
            #log-enter
                width: 26.171875vw
                height: 3.125vw
                border: 0
                border-bottom: solid 1px
                font-size: 1.2vw
                padding-left: 0.7vw
            #pass-enter
                width: 26.171875vw
                height: 3.125vw
                border: 0
                border-bottom: solid 1px
                margin-bottom: 1vw
                font-size: 1.2vw
                padding-left: 0.7vw
            h2
                font-size: 1.8vw
                font-weight: 600
                margin-left: 0.7vw
            span                
                margin-left: 0.7vw
                font-size: 1vw
                color: $greyLink
                a
                    text-decoration: underline
                    color: $blueLink

            #enter-btn
                height: 3.90625vw
                width: 12.5vw
                border-radius: 2.34375vw
                border: 0
                margin-top: 1vw
                background-image: -moz-linear-gradient( 0deg, rgb( 34, 125, 148 ) 0%, rgb( 31, 79, 100 ) 100%)
                background-image: -webkit-linear-gradient( 0deg, rgb( 34, 125, 148 ) 0%, rgb( 31, 79, 100 ) 100%)
                box-shadow: 4px 6.928px 16px 0px rgb( 31, 82, 103 )
                color: $bgwhite
                font-size: 1.2vw
                vertical-align: middle
                cursor: pointer    
    .f-enter_active
        display: grid
    .f-enter_inactive
        display: none    
    .f-reg
        position: relative
        display: none
        grid-template-columns: 1fr
        grid-template-rows: 6.21875vw 22.1875vw
        background: $bgwhite
        width: 40.234375vw
        height: 28.40625vw
        border-radius: 10px
        input.close-btn
            position: absolute 
            right: 1vw
            top: 1vw
        .enter-logo
            grid-column-start: 1
            grid-column-end: 2
            grid-row-start: 1
            grid-row-end: 2
            height: 6.71875vw
            display: flex
            align-items: flex-end
            img
                margin-left: 3vw
                height: 3.515625vw
                width: 8.203125vw
            input
                border: 0
                height: 2vw
                width: 2vw
                background: url(../img/regEnter/close-icon.png) center center no-repeat
                cursor: pointer
        form
            grid-column-start: 1
            grid-column-end: 2
            height: 22.1875vw
            grid-row-start: 2
            margin-left: 3vw
            font-family: "Open Sans", sans-serif
            #log-reg
                width: 26.171875vw
                height: 3.125vw
                border: 0
                border-bottom: solid 1px
                font-size: 1.2vw
                padding-left: 0.7vw
            #pass-reg
                width: 26.171875vw
                height: 3.125vw
                border: 0
                border-bottom: solid 1px
                margin-bottom: 1vw
                font-size: 1.2vw
                padding-left: 0.7vw
            h2
                font-size: 1.8vw
                font-weight: 600
                margin-left: 0.7vw
            span                
                margin-left: 0.7vw
                font-size: 1vw
                color: $greyLink
                a
                    display: inline
                    text-decoration: underline
                    color: $blueLink
                .hide-pass
                    display: none
                .hide-pass_active
                    display: inline
                .show-pass_inactive
                    display: none
                

            #enter-btn
                height: 3.90625vw
                width: 12.5vw
                border-radius: 2.34375vw
                border: 0
                margin-top: 1vw
                background-image: -moz-linear-gradient( 0deg, rgb( 34, 125, 148 ) 0%, rgb( 31, 79, 100 ) 100%)
                background-image: -webkit-linear-gradient( 0deg, rgb( 34, 125, 148 ) 0%, rgb( 31, 79, 100 ) 100%)
                box-shadow: 4px 6.928px 16px 0px rgb( 31, 82, 103 )
                color: $bgwhite
                font-size: 1.2vw
                vertical-align: middle
                cursor: pointer
    
    .f-reg_inactive
        display: none
    .f-reg_active
        display: grid
                
            // grid-row-end: 3
.reg_enter_active
    display: flex

//main page
html
    overflow-x: hidden
body
    margin: 0 auto
    width: 100vw
.inactive_body
    position: fixed

.container
    width: 100vw
    margin: 0 auto
    // display: none
.container_inactive
    visibility: hidden
.wrapper
    width: 100vw
    height: auto
    display: grid
    grid-template-columns: repeat(12, 1fr)
    grid-auto-rows: minmax(auto, auto)
    grid-column-gap: 1.5625vw
a, select
    cursor: pointer
    text-decoration: none
    color: $textBlack

    //start of header
header
    grid-column-start: 1
    grid-column-end: 13
    width: 100vw
    height: 5.546875vw
    background: $bgwhite
    display: grid
    grid-template-columns: repeat(12, 1fr)
    grid-auto-rows: minmax(auto, auto)
    grid-column-gap: 1.5625vw
    position: sticky
    top: 0
    z-index: 199

.nav-panel
    grid-column-start: 1
    grid-column-end: 13
    width: 100vw
    height: 5.546875vw
    display: grid
    grid-template-columns: repeat(12, 1fr)
    grid-auto-rows: minmax(auto, auto)
    grid-column-gap: 1.5625vw
    .head_services
        visibility: hidden
        margin-right: -2.01vw        
        margin-left: 2vw
        z-index: 99
        grid-column-start: 3
        grid-column-end: 11
        grid-row-start: 2
        display: grid
        height: 17.34375vw
        grid-template-columns: repeat(9, 1fr)
        grid-template-rows: 3.125vw 2.03125vw 2.03125vw 2.03125vw 2.03125vw 2.03125vw 2.03125vw 2.03125vw 2.03125vw 2.03125vw
        grid-column-gap: 1.5625vw
        background: $menuBG
        font-family: "OpenSans", sans-serif
        align-self: flex-start
        ul
            list-style: none
            padding-inline-start: 0px                
            a
                text-decoration: none
                color: $textBlack            
                font-family: "OpenSans", sans-serif
                font-size: 1vw
            li
                margin-bottom: 0.7vw
                font-size: 1.09375vw
            li.head
                margin-bottom: 1.3vw
        .law_s
            grid-column-start: 1
            grid-column-end: 4
            grid-row-start: 1
            margin-left: 4vw
        .intellectual
            grid-column-start: 4
            grid-column-end: 7
            grid-row-start: 1
        .ad
            grid-column-start: 7
            grid-column-end: 10
            grid-row-start: 1            
    .head_services_active
        visibility: visible
    
.nav-logo
    grid-column-start: 1
    grid-column-end: 3
    display: flex
    align-items: center
    margin-left: 5.46875vw
    img
        height: 3.671875vw
        width: 8.203125vw

.nav-menu
    grid-column-start: 3
    grid-column-end: 13
    display: grid
    grid-template-columns: repeat(10, 1fr)
    grid-auto-rows: minmax(auto, auto)
    grid-column-gap: 1.5625vw
    nav.nav-left
        grid-column-start: 1
        grid-column-end: 3
        display: flex
        align-items: center
        ul
            display: flex
            list-style: none
            padding-inline-start: 0px
            margin-left: -1.5vw
            a
                text-decoration: none
                color: $textBlack
                font-family: "OpenSans", sans-serif
                font-size: 1.09375vw
            li
                min-width: 3vw
                margin-right: 1.5vw
            // li.scnd
            //     margin-right: 2.5vw

    //start of right side in header              
    .nav-right
        grid-column-start: 8
        grid-column-end: 11
        display: grid
        height: 5.546875vw
        grid-template-columns: repeat(3,1fr)
        grid-column-gap: 1.5625vw

    .nav-our-serv
        display: flex
        align-items: center
        width: 8.8vw
        a
            border: 0
            outline: none
            display: flex
            align-items: center
            height: 5.546875vw
            width: 8.8vw
            span
                font-family: "OpenSans", sans-serif
                font-size: 1.09375vw
                margin-right: 0.5vw    
    .service-btn_active
        z-index: 99
        background: $menuBG
    .nav-enter
        display: flex
        align-items: center            
        a
            background: $bgwhite
            border: 0
            outline: none
            display: flex
            align-items: center
            span
                margin-right: 0.2vw
                font-family: "OpenSans", sans-serif
                font-size: 1.09375vw
            img
                height: 70%

    .nav-lang
        display: flex
        align-items: center
        img
            margin-left: -0.8vw
        select
            // width: 100%
            background: $bgwhite
            border: 0
            outline: none
            appearance: none
            width: 2.5vw
            option
                border: 0
                outline: none
                margin: 0 auto

        // ul
        //     display: flex
        //     list-style: none
        //     padding-inline-start: 0px
        //     margin-left: 2vw
        //     a
        //         text-decoration: none
        //         color: $textBlack
        //         font-family: "OpenSans", sans-serif
        //         font-size: 1.09375vw
        //     li.frst
        //         margin-right: 2.5vw 
        //     li.scnd
        //         margin-right: 2.5vw
        // button.down_arrow
        //     background:  url(../img/icons/down_arrow.png) center no-repeat
        //     border: 0
        //     width: 1vw
        //     height: 1vw
        //     outline: none
//end of header

//start of Big slider
.big_slider
    width: 100vw
    height: 50.390625vw
    grid-column-start: 1
    grid-column-end: 13
    .bs
        width: 100vw
        height: 50.390625vw
    .big_slide1        
        background: url(../img/mainPage/slide_1.jpg) center center no-repeat
        background-size: 100vw 50.390625vw
    .big_slide2        
        background: url(../img/mainPage/slide_2.jpg) center center no-repeat
        background-size: 100vw 50.390625vw
    .big_slide3        
        background: url(../img/mainPage/slide_3.jpg) center center no-repeat
        background-size: 100vw 50.390625vw
    .big_slide4        
        background: url(../img/mainPage/slide_4.jpg) center center no-repeat
        background-size: 100vw 50.390625vw
    .big_slide5        
        background: url(../img/mainPage/slide_5.jpg) center center no-repeat
        background-size: 100vw 50.390625vw

    //slick-slider start
.slick-dots 
    text-align: center
    position: relative
    margin-top: -3vw
    height: 1.875vw
    bottom: 0px
.slick-dots li button:before
    color: #fff
    opacity: 0.8
    font-size: 9px
.slick-dots li button:hover:before, .slick-dots li button:focus:before 
    opacity: 0.8
    color: #fff
.slick-dots li.slick-active button:before
    opacity: 1
    color: #000000
.slick-dotted.slick-slider
    margin-bottom: 0px

.arrow
    position: absolute
    width: 2rem
    height: 2rem
    border: 0
    top: 50%    
    transform: scaleY(-50%)
    z-index: 99
    outline: none
.prev
    background: url(../img/icons/prev-arrow.png) center no-repeat
    background-size: 70%
    left: 1vw
.next
   right: 1vw
   background-size: 70%
   background: url(../img/icons/next-arrow.png) center no-repeat

    //slick-slider end

//end of big slider


    //video-block start
.video_block
    grid-column-start: 1
    grid-column-end: 13
    display: grid
    grid-template-columns: repeat(12, 1fr)
    grid-auto-rows: minmax(auto, auto)
    grid-column-gap: 1.5625vw
    width: 100vw
    height: 43.515625vw
    // background: yellow
.video-wrapp
    grid-column-start: 1
    grid-column-end: 13
    background: $bgwhite
    margin: 4.296875vw 5.46875vw
    display: grid
    grid-template-columns: 3fr 1fr
    grid-template-areas: "bigV smallV1" "bigV smallV2"
    grid-column-gap: 2.34375vw
    grid-row-gap: 1.953125vw

.big-v-w
    grid-area: bigV
    background: url(../img/video1.jpg) center no-repeat
    background-size: auto 100%
.svw1
    grid-area: smallV1
    background: url(../img/video2.jpg) center no-repeat
    background-size: 100%

.svw2
    grid-area: smallV2
    background: url(../img/video3.jpg) center no-repeat
    background-size: 100%
//video block end

//our clients

.our_clients
    width: 100vw
    height: 23.4375vw
    grid-column-start: 1
    grid-column-end: 13
    display: grid
    grid-template-columns: repeat(12, 1fr)
    grid-template-rows: 4.6875vw 18.75vw
    grid-column-gap: 1.5625vw

.headline
    grid-column-start: 1
    grid-column-end: 5
    grid-row-start: 1
    grid-row-end: 2
    margin-left: 5.46875vw
    font-family: "Montserrat", sans-serif
    font-size: 1.8vw
    font-weight: 800
    display: flex
    align-items: center
    
    
.cl-slider
    grid-column-start: 1
    grid-column-end: 13
    grid-row-start: 2
    grid-row-end: 3
    .slick-list
        margin-right: 3.90625vw
        margin-left: 3.90625vw
//end of clients


//start of free_advice block
.free_advice
    grid-column-start: 1
    grid-column-end: 13
    display: grid
    grid-template-columns: repeat(12, 1fr)
    grid-auto-rows: minmax(auto, auto)
    background: url(../img/advice_bg.jpg) center no-repeat
    background-size: 100%
    width: 98.5vw
    height: 28.90625vw

//end of free advice block


//startof read our blog
.r_our_blog
    grid-column-start: 1
    grid-column-end: 13
    display: grid
    grid-template-columns: repeat(12, 1fr)
    grid-template-rows: 9.375vw 26.171875vw
    grid-column-gap: 1.5625vw
    width: 100vw
    height: 39.0625vw
    .headline
        grid-column-start: 1
        grid-column-end: 6

.blog-slider
    grid-column-start: 1
    grid-column-end: 13
    grid-row-start: 2
    grid-row-end: 3
    .slick-list
        margin-right: 3.90625vw
        margin-left: 4.90625vw
    .arrow
        position: absolute
        width: 2rem
        height: 2rem
        border: 0
        top: 25%    
        transform: scaleY(-50%)
        z-index: 99
        outline: none

.blogs
    display: grid
    grid-template-columns: 21.09375vw
    grid-template-rows: 16.796875vw 8.203125vw 5.078125vw

.bl_slide1
    .bl_photo
        background: url(../img/blog_slide1.jpg) center no-repeat
        background-size: 21.09375vw 16.796875vw
.bl_slide2
    .bl_photo
        background: url(../img/blog_slide2.jpg) center no-repeat
        background-size: 21.09375vw 16.796875vw
.bl_slide3
    .bl_photo
        background: url(../img/blog_slide3.jpg) center no-repeat
        background-size: 21.09375vw 16.796875vw
.bl_slide4
    .bl_photo
        background: url(../img/blog_slide4.jpg) center no-repeat
        background-size: 21.09375vw 16.796875vw
.bl_slide5
    .bl_photo
        background: url(../img/blog_slide3.jpg) center no-repeat
        background-size: 21.09375vw 16.796875vw

.bl_photo
    grid-column-start: 1
    grid-column-end: 2
    grid-row-start: 1
    grid-row-end: 2
    width: 21.09375vw
    height: 16.796875vw
.bl_text
    grid-column-start: 1
    grid-column-end: 2
    grid-row-start: 2
    grid-row-end: 3
    width: 21.09375vw
    height: 8.203125vw
    font-family: "OpenSans", sans-serif
    font-size: 1.2vw
        
.bl_link
    grid-column-start: 1
    grid-column-end: 2
    grid-row-start: 3
    grid-row-end: 4
    width: 21.09375vw
    height: 5.078125vw    
    a
        text-decoration: none
        color: $blogLinks
        font-family: "OpenSans", sans-serif
        font-size: 1vw

//end of read our blog


//start of contacts blog
.contacts
    grid-column-start: 1
    grid-column-end: 13
    display: grid
    grid-template-columns: 3fr 1fr
    grid-template-rows: repeat(3, 1fr)
    grid-column-gap: 1.5625vw
    height: 34.21875vw
.map
    grid-column-start: 1
    grid-column-end: 2
    grid-row-start: 1
    grid-row-end: 4
    height: 34.21875vw
    background: url(../img/map.jpg) center no-repeat
    // background-size: 72.65625vw 34.21875vw
.contact-data
    grid-column-start: 2
    grid-column-end: 3
    grid-row-start: 2
    grid-row-end: 3
    display: grid
    grid-template-columns: 1fr 5fr
    grid-auto-rows: minmax(2vw, auto)
    font-family: "Montserrat", sans-serif
    // grid-row-gap: 1vw
    .c-headline
        grid-column-start: 1
        grid-column-end: 3
        font-size: 1.9vw
        font-weight: 800
        height: 6vw
    .c-text
        font-family: "OpenSans", sans-serif
        font-size: 1.1vw
    .c-icon
        display: flex
        align-items: center
        // justify-content: center

    
//end of contacts blog


//start of foooter
footer
    grid-column-start: 1
    grid-column-end: 13
    background: $footerbg
    height: 28.125vw
    width: 100vw
    display: grid
    grid-template-columns: repeat(12, 1fr)
    grid-template-rows: 6.25vw 3.125vw 2.03125vw 2.03125vw 2.03125vw 2.03125vw 2.03125vw 2.03125vw 2.03125vw 2.03125vw 2.03125vw
    grid-row-gap: 1px
    grid-column-gap: 1.5625vw

.foot_menu
    grid-column-start: 1
    grid-column-end: 8
    grid-row-start: 1
    grid-row-end: 2
    height: 6.25vw
    display: flex
    align-items: flex-end
    ul
        display: flex
        list-style: none
        padding-inline-start: 0px
        margin-left: 4vw
        a
            text-decoration: none
            color: $bgwhite
            font-family: "OpenSans", sans-serif
            font-size: 1.09375vw
        li
            margin-right: 1.4vw

    //start of our services in footer
.foot_services
    grid-column-start: 1
    grid-column-end: 10
    grid-row-start: 2
    display: grid
    height: 17.34375vw
    grid-template-columns: repeat(9, 1fr)
    grid-template-rows: 3.125vw 2.03125vw 2.03125vw 2.03125vw 2.03125vw 2.03125vw 2.03125vw 2.03125vw 2.03125vw 2.03125vw
    grid-column-gap: 1.5625vw
    color: $bgwhite
    font-family: "OpenSans", sans-serif
    align-self: flex-start
    ul
        list-style: none
        padding-inline-start: 0px                
        a
            text-decoration: none
            color: $bgwhite            
            font-family: "OpenSans", sans-serif
            font-size: 1.09375vw
        li
            margin-bottom: 0.7vw
        li.head
            margin-bottom: 1.3vw
    .foot_headline
        grid-column-start: 1
        grid-column-end: 3
        grid-row-start: 1
        margin-left: 4vw
        align-self: center
    .law_s
        grid-column-start: 1
        grid-column-end: 4
        grid-row-start: 2
        margin-left: 4vw
    .intellectual
        grid-column-start: 4
        grid-column-end: 7
        grid-row-start: 2
    .ad
        grid-column-start: 7
        grid-column-end: 10
        grid-row-start: 2
    //end of our services in footer
    
    // start of social icons in footer
.social_icons
    grid-column-start: 10
    grid-column-end: 12
    grid-row-start: 1
    grid-row-end: 3
    display: flex
    align-items: flex-end
    margin-left: 5vw
    ul
        display: flex
        align-items: flex-end
        list-style: none
        padding-inline-start: 0px
        li
            text-decoration: none
            color: $bgwhite            
            font-family: "OpenSans", sans-serif
            font-size: 1.09375vw
            height: 3.671875vw
            width: 3.671875vw
            margin-right: 0.7vw
        li.facebook
            background: url(../img/icons/Facebook.png) center no-repeat
            background-size: 3.671875vw 3.671875vw 
        li.instagram
            background: url(../img/icons/Instagram.png) center no-repeat
            background-size: 3.671875vw 3.671875vw
        li.whatsup
            background: url(../img/icons/whatsup.png) center no-repeat
            background-size: 3.671875vw 3.671875vw
    // end of social icons in footer

    // start of feedback in footer
.feedback
    grid-column-start: 10
    grid-column-end: 12
    grid-row-start: 3
    grid-row-end: 5
    display: flex
    margin-left: 5vw   
    ul
        list-style: none
        padding-inline-start: 0px
        a
            text-decoration: none
            color: $bgwhite            
            font-family: "OpenSans", sans-serif
            font-size: 1.09375vw
        li
            text-decoration: none
            color: $bgwhite            
            font-family: "OpenSans", sans-serif
            font-size: 1.09375vw
            margin-bottom: 1vw



//searching of trademarks
.trademarks_search
    position: absolute
    background: $bgwhite
    box-shadow: 0 0 10px rgba(0,0,0,0.3)
    h2, p, input
        margin-left: 4.296875vw
        margin-right: 3.75vw
    h2
        font-family: "Montserrat", sans-serif
        font-size: 3.046875vw        
        margin-top: 3vw
    p
        font-family: "OpenSans", sans-serif
        font-size: 1.7vw
        margin-top: -1vw
    input
        height: 3.90625vw
        width: 15.625vw
        border-radius: 2vw
        background-image: -moz-linear-gradient( 0deg, rgb( 34, 125, 148 ) 0%, rgb( 31, 79, 100 ) 100%)
        background-image: -webkit-linear-gradient( 0deg, rgb( 34, 125, 148 ) 0%, rgb( 31, 79, 100 ) 100%)
        box-shadow: 4px 6.928px 16px 0px rgb( 31, 82, 103 )
        border: 0
        color: $bgwhite
        font-family: "Montserrat", sans-serif
        font-size: 1vw
        text-transform: uppercase
        cursor: pointer
        outline: none


.main-text
    width: 100vw
    background: $menuBG
.main-services
    width: 100vw
    background: $bgwhite
.leave-request
    width: 100vw
    background: $menuBG


//page about.html  страница "о нас"
// about block
.about
    grid-column-start: 1
    grid-column-end: 13
    width: 100vw
    height: 38.28125vw
    background: $menuBG
    display: grid
    grid-template-columns: repeat(12, 1fr)
    grid-template-rows: 1fr
    grid-column-gap: 1.5625vw
    .about-photo
        grid-column-start: 1
        grid-column-end: 7
        display: flex
        justify-content: flex-start
        align-items: center
        img
            height: 30vw
            width: 44.53125vw
            margin-left: 5.46875vw
    .about-text
        grid-column-start: 7
        grid-column-end: 13
        display: grid
        grid-column-gap: 1.5625vw
        grid-template-rows: 8vw 7vw 15vw
        justify-content: flex-start
        align-items: center
        h2
            grid-column-start: 1
            grid-column-end: 7
            grid-row-start: 2
            font-family: "Montserrat", sans-serif
            font-size: 3.246875vw
            margin-left: 3.046875vw
        p
            grid-column-start: 1
            grid-column-end: 7
            grid-row-start: 3
            font-family: "OpenSans", sans-serif
            font-size: 1.4vw
            margin-left: 3.046875vw
            margin-right: 3.046875vw

// some numerals block
.some_numerals
    grid-column-start: 1
    grid-column-end: 13
    width: 100vw
    height: 21.484375vw
    display: grid
    grid-template-columns: 1fr 1fr 1fr 1fr
    grid-auto-rows: minmax(auto, auto) 
    grid-template-areas: "snhead snhead snhead snhead" "win rtm rcr ptl"
    // grid-column-gap: 1.5625vw
    h2
        font-family: "OpenSans", sans-serif
        color: $aboutNum
        font-size: 5.234375vw
        margin-top: 0
        margin-bottom: 0
    p
        // margin-top: 0vw
        font-family: "OpenSans", sans-serif
        font-size: 1.09375vw
        font-weight: 400
    .sn_headline
        grid-area: snhead
        height: 7vw        
        h2
            font-size: 2.890625vw
            color: $textBlack
            font-family: "Montserrat", sans-serif
            margin-left: 5.546875vw
            margin-top: 2vw
    .wins
        grid-area: win
        height: 21.484375vw
        h2, p 
            margin-left: 5.546875vw

    .reg_trademarks
        grid-area: rtm
        height: 21.484375vw
    
    .reg_copyright
        grid-area: rcr
        height: 21.484375vw
    
    .pre-trial
        grid-area: ptl
        height: 21.484375vw

// proffesionals block
.proffesionals
    grid-column-start: 1
    grid-column-end: 13
    width: 100vw
    height: 102.34375vw
    background: $menuBG
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    grid-auto-rows: minmax(auto, auto) 
    grid-template-areas: "prohead prohead prohead" "p1 p2 p3" "p4 p5 p6"
    grid-column-gap: 3.515625vw
    grid-row-gap: 3.90625vw
    .proff-headline
        height: 9.0625vw
        margin-bottom: -3.2vw
        h2
            font-size: 3.000625vw
            color: $textBlack
            font-family: "Montserrat", sans-serif
            margin-left: 5.546875vw
            margin-top: 3.5vw
    .proff
        width: 27.34375vw
        height: 47.8125vw
        margin-top: -3.90625vw
    .proff-photo
        width: 27.34375vw
        height: 19.375vw
        img
            width: 27.34375vw
            height: 19.375vw
    .proff-text
        width: 27.34375vw
        height: 28.4375vw
        background: $bgwhite
        margin-top: -1.1vw

        h3, span, p
            margin-left: 1.7968749999999998vw
            margin-right: 2.734375vw
        h3
            font-family: "OpenSans", sans-serif
            font-size: 1.25vw
            font-weight: 700
            padding-top: 1vw
        span
            color: #a7a7a7
            font-family: "OpenSans", sans-serif
            font-size: 1.09vw
            font-weight: 400
        p
            font-family: "OpenSans", sans-serif
            font-size: 1.09vw
            font-weight: 400

    .proff-headline
        grid-area: prohead
    .proff-1
        grid-area: p1
        margin-left: 5.46875vw
    .proff-2
        grid-area: p2
    .proff-3
        grid-area: p3
        margin-right: 5.46875vw
    .proff-4, .proff-5, .proff-6
        // margin-top: 0vw
        height: 37.5vw
        .proff-text
            height: 18.28125vw
                 
    .proff-4        
        grid-area: p4
        margin-left: 5.46875vw
    .proff-5
        grid-area: p5
    .proff-6
        grid-area: p6
        margin-right: 5.46875vw

// end of proffesionals block

// start of tagline block
.tagline
    grid-column-start: 1
    grid-column-end: 13
    display: flex
    align-items: center
    height: 18.359375vw
    img
        margin-left: 5.46875vw
    h3
        font-size: 2.890625vw
        color: $textBlack
        font-family: "Montserrat", sans-serif
        margin-left: 2.34375vw

//start of certificates block
.certificates
    grid-column-start: 1
    grid-column-end: 13
    height: 38.046875vw
    background: $menuBG
    display: grid
    grid-template-columns: repeat(12, 1fr)
    grid-auto-rows: minmax(auto, auto)
    .cert-headline
        grid-column-start: 1
        grid-column-end: 13
        height: 9.375vw
        margin-bottom: -5vw
        h2
            font-size: 3.000625vw
            color: $textBlack
            font-family: "Montserrat", sans-serif
            margin-left: 5.546875vw
            margin-top: 3.5vw
    .cert-slider
        grid-column-start: 1
        grid-column-end: 13
        width: 76.5625vw
        margin-left: 5.46875vw
        .c-slide
            margin-right: 2.34375vw
            height: 25vw
            width: 17.578125vw 
            img 
                height: 25vw
                width: 17.578125vw
                margin-right: 2.34375vw


//blokirovka v soc setyah

.blok-main
    position: relative
    height: 72.65625vw
    width: 100vw
    .trademarks_search
        width: 28.125vw
        height: 42.1875vw
        top: 1vw
        right: 3.8vw
    .main-text
        height: 27.734375vw
    .main-services
        height: 16.415625vw
    .leave-request
        height: 28.484375vw