//textcolors
$textWhite: #fff;
$textBlack: #27282a;
$mainRed: #ef2422;
$resultBg: #0b0c0e;
$eff1bg: #f1f1f1;
$textGray: #999999;

.container
    margin: 0 auto
    // position: absolute
    width: 100%
    max-width: 288px
    height: auto
wrapper    
    grid-template-columns: repeat(4, 1fr)
    grid-auto-rows: minmax(10px, auto)
    grid-column-gap: 10px
    grid-row-gap: 0px
.header
    display: grid
    height: 209.375vw
    max-height: 670px
    grid-column-start: 1
    grid-column-end: 5
    grid-row-start: 1
    grid-row-end: 2
    background: url(../img/header_bg320.jpg)
    background-size: 100% 100%
    background-repeat: no-repeat
    grid-template-columns: repeat(8, 1fr)
    grid-auto-rows: minmax(10px, 19vw)
    grid-column-gap: 10px 
.headline
    display: flex
    grid-column-start: 1
    grid-column-end: 9
    grid-row-start: 1
    grid-row-end: 2    
    font-size: 13.625vw
    font-weight: 400
    padding-top: 8vw 
    height: 24.375vw
    max-height: 78px
    margin-left: 6.25vw
    h3
        margin: 0 0 0 0
    span
        color: $mainRed
.underline
    grid-column-start: 1
    grid-column-end: 9
    grid-row-start: 2
    grid-row-end: 3
    font-size: 5.9vw
    font-weight: 400
    line-height: 20px
    padding-top: 6vw
    margin-left: 6.25vw

.red-div
    grid-column-start: 1
    grid-column-end: 9
    grid-row-start: 3
    grid-row-end: 4
    background-color: $mainRed
    max-width: 96.875vw
    height: 10vw
    font-size: 4.4vw
    font-weight: 400
    line-height: 0px
    display: grid
    grid-template-columns: repeat(7, 1fr)
    grid-auto-rows: minmax(10px, auto)
    grid-column-gap: 0px
    grid-row-gap: 0px
    align-items: center
    // margin-top: 8vw
    p
        display: flex
        justify-content: flex-start
        margin-top: 1.9vw
        margin-left: 6.25vw
        padding-top: 2.1vw
        // height: 70%
        grid-column-start: 1
        grid-column-end: 8
        align-self: center
    
.header-text
    grid-column-start: 1
    grid-column-end: 8
    grid-row-start: 8
    margin-left: 6.25vw  
    margin-top: 12vw
    font-size: 3.2vw

// begin of result block
.result
    display: grid
    max-height: 159.375vw 
    grid-column-start: 1
    grid-column-end: 5
    grid-row-start: 2
    grid-row-end: 3
    background: $resultBg
    color: $textWhite
    border-top: 0.15vw solid $mainRed
    grid-template-columns: repeat(6, 1fr)
    grid-auto-rows: minmax(10px, auto)
    grid-column-gap: 10px
    grid-row-gap: 2.8vw
    margin-bottom: 20vw
    

.res_headline
    display: flex
    grid-column-start: 1
    grid-column-end: 7
    grid-row-start: 1
    grid-row-end: 2
    max-width: 93.75vw
    max-width: 320px
    height: 10vw
    background: $mainRed
    margin-top: -5vw
    align-items: center
    justify-content: center
    font-size: 4.5vw
    margin-left: 3.125vw
    margin-right: 3.125vw


.reswrap
    // height: 200px    
    grid-column-start: 1
    grid-column-end: 7
    grid-row-start: 1
    grid-row-end: 3
    grid-template-columns: 2fr 2fr
    grid-template-areas: "photo1 photo2" "text1 text2" "photo3 photo4" "text3 text4"
    grid-column-gap: 3.6vw
    font-size: 3.7vw
    max-width: 93.75vw
    margin-left: 3.125vw
    margin-right: 3.125vw
    padding-top: 8vw
    img         
        width: 38vw
        max-width: 110px
        // width: 22vw
.txt_res
    padding-top: 2vw
    margin-left: 2vw
    max-width: 110px
    height: 5vw
    span
        color: $mainRed
        
.photo_res
    display: flex
    align-items: center
    justify-content: center
    max-width: 38vw
.ph1_res
    grid-area: photo1
    // height: 15vw
.t1_res
    grid-area: text1
    
.ph2_res
    grid-area: photo2
.t2_res
    grid-area: text2

.ph3_res
    grid-area: photo3
.t3_res
    grid-area: text3
    margin-bottom: 10vw

.ph4_res
    grid-area: photo4
.t4_res
    grid-area: text4
    margin-bottom: 10vw


// begin of efficiency block
.efficiency
    grid-column-start: 1
    grid-column-end: 5
    grid-row-start: 3
    grid-row-end: 4
    display: grid
    border-top: 0.15vw solid $mainRed
    grid-template-columns: repeat(6, 1fr)
    grid-template-rows: 2vw 235vw 23.125vw
    grid-column-gap: 0px
    grid-row-gap: 0px
    height: 281.25vw
    max-height: 281.25vw
    
.eff_headline
    display: flex
    grid-column-start: 1
    grid-column-end: 7
    grid-row-start: 1
    grid-row-end: 2
    height: 10vw
    background: $mainRed
    margin-top: -5vw
    align-items: center
    justify-content: center
    color: $textWhite
    font-size: 4.5vw
    z-index: 10
    max-width: 93.75vw
    margin-left: 3.125vw
    margin-right: 3.125vw

.part1_eff
    grid-column-start: 1
    grid-column-end: 7
    grid-row-start: 1
    grid-row-end: 3
    background-color: $eff1bg
    display: grid
    grid-template-columns: repeat(6, 1fr)
    grid-template-rows: 134.375vw 146.875vw
    grid-row-gap: 0px
    grid-column-gap: 0px
    height: 235vw
    max-height: 235vw
    // padding-top: 5vw

.p1_photo
    grid-column-start: 1
    grid-column-end: 7
    grid-row-start: 2
    grid-row-end: 3
    max-height: 724px
    img
        width: 90vw

    // begin of p1_diagram block
#px320
    display: inline
#px1600
    display: none
.p1_diagram
    grid-column-start: 1
    grid-column-end: 7
    grid-row-start: 1
    grid-row-end: 2
    max-height: 134.375vw
    height: 134.375vw
    display: grid
    grid-template-columns: repeat(4, 0.5fr)
    // grid-auto-rows: minmax(10px, auto)
    grid-template-rows: 10.625vw 37.5vw 27.5vw 28.125vw 26.25vw
    grid-row-gap: 0px
    grid-column-gap: 0px
    font-weight: 400
    font-family: "Century Gothic"
    span
        

.diagram
    grid-column-start: 1
    grid-column-end: 2
    grid-row-start: 2
    grid-row-end: 5
    img
        width: 29.375vw
    

.month2
    grid-column-start: 2
    grid-column-end: 5
    grid-row-start: 2
    grid-row-end: 3
    line-height: 3.5vw
.month1
    grid-column-start: 2
    grid-column-end: 5
    grid-row-start: 3
    grid-row-end: 4
    margin-left: -6.5vw
    line-height: 3.5vw

.hours8
    grid-column-start: 2
    grid-column-end: 5
    grid-row-start: 4
    grid-row-end: 5
    margin-left: -13.5vw
    line-height: 3.5vw

.momental
    grid-column-start: 2
    grid-column-end: 5
    grid-row-start: 5
    grid-row-end: 6
    margin-left: -24.5vw
    line-height: 3.5vw

.cream
    display: none

span.red
    color: $mainRed
    font-size: 4vw
span.black
    color: $textBlack
    font-size: 3vw

span.gray
    color: $textGray
    font-size: 2vw

.part2_eff
    grid-column-start: 1
    grid-column-end: 7
    grid-row-start: 3
    grid-row-end: 4
    max-height: 370px
    display: flex
    align-items: center
    font-size: 3.5vw
    padding-top: 5vw



    // begin of ingredients block
.ingredients
    grid-column-start: 1
    grid-column-end: 5
    grid-row-start: 4
    grid-row-end: 5
    display: grid
    border-top: 0.15vw solid $mainRed
    grid-template-columns: repeat(6, 1fr)
    grid-template-rows: 2vw 177.5vw 137.8125vw
    grid-column-gap: 0px
    height: 317.8125vw
    max-height: 317.8125vw

.ingr_headline
    display: flex
    grid-column-start: 1
    grid-column-end: 7
    grid-row-start: 1
    grid-row-end: 2
    height: 10vw
    background: $mainRed
    margin-top: -5vw
    align-items: center
    justify-content: center
    color: $textWhite
    font-size: 4.5vw
    z-index: 10
    max-width: 93.75vw
    margin-left: 3.125vw
    margin-right: 3.125vw

.white_ingr
    grid-column-start: 1
    grid-column-end: 7
    grid-row-start: 1
    grid-row-end: 3
    // max-height: 177.5vw
    height: 177.5vw
    display: grid
    grid-template-columns: repeat(12, 1fr)
    grid-template-rows: repeat(12, 1fr)
    z-index: 10


.peptid
    grid-column-start: 1
    grid-column-end: 6
    grid-row-start: 1
    grid-row-end: 4
    z-index: 20
    margin-top: 11vw
    line-height: 3.5vw

.vitamin_C
    grid-column-start: -8
    grid-column-end: -1
    grid-row-start: 11
    grid-row-end: 14
    margin-top: 2vw
    z-index: 20
    line-height: 3.5vw

.termal_water
    grid-column-start: 1
    grid-column-end: 6
    grid-row-start: 6
    grid-row-end: 8
    margin-top: 2vw
    z-index: 20
    line-height: 3.5vw



.pict_ingr
    grid-column-start: 5 
    grid-column-end: -6
    grid-row-start: 4
    grid-row-end: -2
    img
        width: 62.49vw

.red_ingr
    grid-column-start: 1
    grid-column-end: 7
    grid-row-start: 3
    grid-row-end: 4
    max-height: 137.8125vw
    height: 137.8125vw
    background: url(../img/redfon_ingr.jpg)
    background-size: 100% auto
    background-repeat: no-repeat
    display: grid
    grid-template-columns: repeat(12, 1fr)
    grid-template-rows: 10.625vw 5.2vw 3.75vw 6.625vw 6.125vw

.safety
    grid-column-start: 4
    grid-column-end: 7
    grid-row-start: 2
    grid-row-end: 6
    margin-left: -1.3vw
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-template-rows: 5.2vw 3.75vw 6.625vw 6.125vw
    span.red
        grid-column-start: 1
        grid-column-end: 4
        grid-row-start: 1
        grid-row-end: 2
        font-size: 2.5vw
    span.black
        grid-column-start: 1
        grid-column-end: 4
        grid-row-start: 2
        grid-row-end: 5
        font-size: 1.875vw
    span.b1
        grid-row-start: 2
        grid-row-end: 3
    span.b2
        grid-row-start: 3
        grid-row-end: 4
    span.b3
        grid-row-start: 4
        grid-row-end: 5

.applying
    grid-column-start: 8
    grid-column-end: 13
    grid-row-start: 2
    grid-row-end: 5
    display: grid
    color: $textWhite
    padding-right: 4vw
    grid-template-columns: repeat(5, 1fr)
    grid-template-rows: 5.2vw 3.75vw 6.625vw
    span.app_head
        grid-column-start: 1
        grid-column-end: 6
        grid-row-start: 1
        grid-row-end: 2
        font-size: 2.5vw
    span.app_text
        grid-column-start: 1
        grid-column-end: 6
        grid-row-start: 2
        grid-row-end: 5
        font-size: 1.875vw

    // begin of cream_composition block
.cream_composition
    grid-column-start: 1
    grid-column-end: 5
    grid-row-start: 5
    grid-row-end: 6
    display: grid
    border-top: 0.15vw solid $mainRed
    grid-template-columns: repeat(12, 1fr)
    grid-auto-rows: minmax(10px, auto)
    grid-column-gap: 20px
    grid-row-gap: 2.8vw
    max-height: 700px
    height: 43.75vw
    margin-bottom: 8.5vw
    background-image: linear-gradient(to right, #f1f1f1 0%, #f1f1f1 35%, #e3e3e3 70%, #e3e3e3 100%)

.comp_headline
    display: flex
    grid-column-start: 5
    grid-column-end: -5
    grid-row-start: 1
    grid-row-end: 2
    height: 4vw
    background: $mainRed
    margin-top: -2vw
    align-items: center
    justify-content: center
    font-size: 2.3vw
    color: $textWhite

.comp_text
    display: flex
    grid-column-start: 2
    grid-column-end: 7
    grid-row-start: 1
    grid-row-end: 3
    justify-content: center
    align-items: center
    color: $textBlack
    font-size: 1.25vw

.comp_pict
    display: flex
    grid-column-start: 8
    grid-column-end: 13
    grid-row-start: 1
    grid-row-end: 3
    justify-content: flex-end
    img
        width: 43.75vw


    // begin of another_products block
.another_products
    grid-column-start: 1
    grid-column-end: 5
    grid-row-start: 6
    grid-row-end: 7
    display: grid
    border-top: 0.15vw solid $mainRed
    grid-template-columns: repeat(12, 1fr)
    grid-template-rows: 2vw 25vw 5vw
    grid-column-gap: 20px
    grid-row-gap: 2.8vw
    height: 60vw
    max-height: 960px
    
.ap_headline
    display: flex
    grid-column-start: 3
    grid-column-end: -3
    grid-row-start: 1
    grid-row-end: 2
    height: 4vw
    background: $mainRed
    margin-top: -2vw
    align-items: center
    justify-content: center
    font-size: 2.3vw
    color: $textWhite

.ap_1block
    display: grid
    grid-column-start: 1
    grid-column-end: 6
    grid-row-start: 2
    grid-row-end: 3
    background-image: linear-gradient(to top, #f2f2f2 0%, #ffffff 100%)
    max-height: 400px
    width: 42.1875vw
    max-width: 675px
    grid-template-columns: repeat(12, 1fr)
    grid-template-rows: 25vw
    img
        width: 21.125vw
        height: 17.1875vw
        margin-bottom: -3.4vw
.ap_2block
    display: grid
    grid-column-start: -6
    grid-column-end: -1
    grid-row-start: 2
    grid-row-end: 3
    background-image: linear-gradient(to top, #f2f2f2 0%, #ffffff 100%)
    max-height: 400px
    width: 42.1875vw
    max-width: 675px
    margin-left: -20px
    grid-template-columns: repeat(12, 1fr)
    grid-template-rows: 25vw
    img
        width: 23.125vw
        height: 28.4375vw
        margin-bottom: -3.4vw
.ap-block-img
    grid-column-start: 1
    grid-column-end: 13
    grid-row-start: 1
    grid-row-end: 2
    display: flex
    justify-content: center
    align-items: flex-end

.ap-txt
    display: flex
    grid-row-start: 3
    grid-row-end: 4
    margin-top: 5.4vw
    font-size: 1.25vw
    justify-content: center
    align-items: center
    background: #fff
    span.Vichy
        font-weight: bold

.ap-t1
    grid-column-start: 2
    grid-column-end: 6
    margin-left: -2vw
    padding-right: 2vw
.ap-t2
    grid-column-start: -6
    grid-column-end: -1
    padding-left: 4vw
    padding-right: 6vw