body {
  margin: 0 auto;
  position: relative;
  width: 100vw;
}

.container {
  margin: 0 auto;
  width: 100vw;
}

.wrapper {
  margin: 0 auto;
  width: 100vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(auto, auto);
  grid-column-gap: 1.4641288433382138vw;
}

header {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 13;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  background: #fff;
  width: 100vw;
  height: 7.613469985358712vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .head-logo {
  width: 11.71303074670571vw;
  height: 4.538799414348463vw;
  margin-left: 7.174231332357247vw;
  background: url(../img/logo.png);
  background-size: 11.71303074670571vw 4.538799414348463vw;
}

header nav.head-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .head-city {
  margin-left: 10.248901903367496vw;
  width: 8.41874084919473vw;
  height: 1.8301610541727673vw;
}

header .head-city #city-choose {
  border: 0;
  outline: none;
}

ul.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 4.685212298682284vw;
}

ul.nav-links li.nav-link {
  list-style: none;
  margin-right: 2vw;
}

ul.nav-links li.nav-link a {
  color: #000;
  text-decoration: none;
}

.info-block {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 13;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  width: 100vw;
  height: 39.53147877013177vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 36.45680819912152vw 63.543191800878475vw;
      grid-template-columns: 36.45680819912152vw 63.543191800878475vw;
}

.info-block .main-contacts {
  background: #242424;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  width: 36.45680819912152vw;
  color: #fff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 4vw 7vw 3vw 3vw 3vw;
      grid-template-rows: 4vw 7vw 3vw 3vw 3vw;
  grid-row-gap: 3.5vw;
}

.info-block .main-contacts .headline {
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  margin-top: 2vw;
  margin-left: 7.174231332357247vw;
  height: 2vw;
  font-size: 1.4vw;
}

.info-block .main-contacts .phone {
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  margin-left: 7.174231332357247vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2.0282576866764276vw 19.03367496339678vw;
      grid-template-columns: 2.0282576866764276vw 19.03367496339678vw;
  grid-auto-rows: minmax(auto, auto);
}

.info-block .main-contacts .phone .logo-phone {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.info-block .main-contacts .phone .logo-phone img {
  margin-top: 1.3vw;
  height: 1.0248901903367496vw;
  width: 1.0248901903367496vw;
}

.info-block .main-contacts .phone .text-phone {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
}

.info-block .main-contacts .phone .text-phone a {
  color: #fff;
  text-decoration: none;
}

.info-block .main-contacts .phone .text-phone a:hover {
  color: #C1932C;
}

.info-block .main-contacts .phone .text-phone .txtPhone {
  font-size: 1.171303074670571vw;
}

.info-block .main-contacts .phone .text-phone .tPh3 {
  color: #ABABAB;
  font-size: 1.0248901903367496vw;
}

.info-block .main-contacts .messengers {
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 4;
  margin-left: 7.174231332357247vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2.0282576866764276vw 21.96193265007321vw;
      grid-template-columns: 2.0282576866764276vw 21.96193265007321vw;
  grid-auto-rows: minmax(auto, auto);
}

.info-block .main-contacts .messengers .mess-links {
  margin: 0;
}

.info-block .main-contacts .messengers .mess-links a {
  color: #fff;
  text-decoration: none;
}

.info-block .main-contacts .messengers .mess-links a:hover {
  color: #C1932C;
}

.info-block .main-contacts .messengers .txtMess {
  color: #ABABAB;
  font-size: 1.0248901903367496vw;
}

.info-block .main-contacts .mail {
  -ms-grid-row: 4;
      grid-row-start: 4;
  grid-row-end: 5;
  margin-left: 7.174231332357247vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2.0282576866764276vw 21.96193265007321vw;
      grid-template-columns: 2.0282576866764276vw 21.96193265007321vw;
  grid-auto-rows: minmax(auto, auto);
}

.info-block .main-contacts .mail .mail-links {
  margin: 0;
}

.info-block .main-contacts .mail .mail-links a {
  color: #fff;
  text-decoration: none;
}

.info-block .main-contacts .mail .mail-links a:hover {
  color: #C1932C;
}

.info-block .main-contacts .mail .txtMail {
  color: #ABABAB;
  font-size: 1.0248901903367496vw;
}

.info-block .main-contacts .location {
  -ms-grid-row: 5;
      grid-row-start: 5;
  grid-row-end: 6;
  margin-left: 7.174231332357247vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2.0282576866764276vw 21.96193265007321vw;
      grid-template-columns: 2.0282576866764276vw 21.96193265007321vw;
  grid-auto-rows: minmax(auto, auto);
}

.info-block .main-contacts .location .loc-adress {
  margin: 0;
  color: #fff;
  text-decoration: none;
}

.info-block .main-contacts .location .txtLoc {
  color: #ABABAB;
  font-size: 1.0248901903367496vw;
}

.info-block .main-slider {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  width: 63.543191800878475vw;
  height: 39.53147877013177vw;
  position: relative;
}

.info-block .main-slider .slide {
  height: 39.53147877013177vw;
}

.info-block .main-slider .mSlide1 {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(24, 22, 18, 0.8)), to(rgba(24, 22, 18, 0.8))), url(../img/slide1.jpg);
  background: linear-gradient(0deg, rgba(24, 22, 18, 0.8), rgba(24, 22, 18, 0.8)), url(../img/slide1.jpg);
  background-size: 63.543191800878475vw 39.53147877013177vw;
}

.info-block .main-slider .mSlide2 {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(24, 22, 18, 0.8)), to(rgba(24, 22, 18, 0.8)));
  background: linear-gradient(0deg, rgba(24, 22, 18, 0.8), rgba(24, 22, 18, 0.8));
  background-size: 63.543191800878475vw 39.53147877013177vw;
}

.info-block .main-slider .mSlide3 {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(24, 22, 18, 0.8)), to(rgba(24, 22, 18, 0.8))), url(../img/slide3.jpg);
  background: linear-gradient(0deg, rgba(24, 22, 18, 0.8), rgba(24, 22, 18, 0.8)), url(../img/slide3.jpg);
  background-size: 63.543191800878475vw 39.53147877013177vw;
}

.info-block .main-slider .arrow {
  width: 3.513909224011713vw;
  height: 3.513909224011713vw;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.info-block .main-slider .prev {
  background: url(../img/prev-nArrow.png);
  background-size: 3.513909224011713vw 3.513909224011713vw;
  position: absolute;
  left: 50vw;
  z-index: 99;
  top: 35vw;
}

.info-block .main-slider .prev:hover {
  background: url(../img/prev-arrow.png);
  background-size: 3.513909224011713vw 3.513909224011713vw;
}

.info-block .main-slider .next {
  background: url(../img/next-nArrow.png);
  background-size: 3.513909224011713vw 3.513909224011713vw;
  position: absolute;
  right: 7vw;
  z-index: 99;
  top: 35vw;
}

.info-block .main-slider .next:hover {
  background: url(../img/next-arrow.png);
  background-size: 3.513909224011713vw 3.513909224011713vw;
}

.our-services {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 13;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 4;
  width: 100vw;
  height: 46.33967789165447vw;
  display: -ms-grid;
  display: grid;
  position: relative;
  -ms-grid-columns: 100vw;
      grid-template-columns: 100vw;
  -ms-grid-rows: 3vw 8vw auto;
      grid-template-rows: 3vw 8vw auto;
}

.our-services .headline {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  margin-left: 7.174231332357247vw;
  margin-right: 7.174231332357247vw;
}

.our-services .headline h2 {
  font-size: 2.342606149341142vw;
}

.our-services .tabs {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 4;
  position: relative;
  margin-left: 7.174231332357247vw;
  margin-right: 7.174231332357247vw;
}

.our-services .tabs .tab {
  display: inline-block;
  margin-top: 2vw;
  margin-right: 1vw;
  height: 2.5vw;
  cursor: pointer;
}

.our-services .tabs .tab.active {
  border-bottom: 3px solid;
  border-color: #C1932C;
}

.our-services .tabs .tab-form {
  display: none;
}

.our-services .tabs .tab-form.active {
  margin-top: 2vw;
  display: block;
}

.our-services .tabs .fiz-lic {
  height: 20vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2.1961932650073206vw;
      grid-template-areas: "fl1 fl2 fl3" "fl4 fl5 fl6" "fl7 fl8 free";
}

.our-services .tabs .fiz-lic .link {
  height: 6.588579795021962vw;
  width: 27.086383601756953vw;
  border-top: 1px solid;
}

.our-services .tabs .fiz-lic .link a {
  display: block;
  height: 6.588579795021962vw;
  width: 26.386383601756953vw;
  line-height: 5.5;
  text-decoration: none;
  color: #000;
  font-size: 1.171303074670571vw;
  padding-left: 0.7vw;
}

.our-services .tabs .fiz-lic .link a:hover {
  color: #fff;
  background: #000;
}

.our-services .tabs .fiz-lic .fl-link1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: fl1;
}

.our-services .tabs .fiz-lic .fl-link2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: fl2;
}

.our-services .tabs .fiz-lic .fl-link3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: fl3;
}

.our-services .tabs .fiz-lic .fl-link4 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: fl4;
}

.our-services .tabs .fiz-lic .fl-link5 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: fl5;
}

.our-services .tabs .fiz-lic .fl-link6 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: fl6;
}

.our-services .tabs .fiz-lic .fl-link7 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: fl7;
  border-bottom: 1px solid;
}

.our-services .tabs .fiz-lic .fl-link8 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: fl8;
  border-bottom: 1px solid;
}

.our-services .tabs .fiz-lic .fl-free {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: free;
}

.our-services .tabs .ur-lic {
  height: 20vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2.1961932650073206vw;
      grid-template-areas: "ul1 ul2 ul3";
}

.our-services .tabs .ur-lic .link {
  height: 6.588579795021962vw;
  width: 27.086383601756953vw;
  border-top: 1px solid;
}

.our-services .tabs .ur-lic .link a {
  display: block;
  height: 6.588579795021962vw;
  width: 26.386383601756953vw;
  line-height: 5.5;
  text-decoration: none;
  color: #000;
  font-size: 1.171303074670571vw;
  padding-left: 0.7vw;
}

.our-services .tabs .ur-lic .link a:hover {
  color: #fff;
  background: #000;
}

.our-services .tabs .ur-lic .ul-link1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: ul1;
}

.our-services .tabs .ur-lic .ul-link2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: ul2;
}

.our-services .tabs .ur-lic .ul-link3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: ul3;
}

.our-services .tabs .ur-lic .ul-link4 {
  grid-area: ul4;
}

.our-services .tabs .ur-lic .ul-link5 {
  grid-area: ul5;
}

.our-services .tabs .ur-lic .ul-link6 {
  grid-area: ul6;
}

.our-services .tabs .ur-lic .ul-link7 {
  grid-area: ul7;
  border-bottom: 1px solid;
}

.our-services .tabs .ur-lic .ul-link8 {
  grid-area: ul8;
  border-bottom: 1px solid;
}

.our-services .tabs .ur-lic .ul-free {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: free;
}

.short-about {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 13;
  -ms-grid-row: 4;
      grid-row-start: 4;
  grid-row-end: 5;
  width: 100vw;
  height: 41.434846266471446vw;
  position: relative;
}

.short-about .text {
  height: 41.434846266471446vw;
  width: 78.1844802342606vw;
  background: #F9F9F8;
}

.short-about .text .ab-txt {
  margin: 0 30.01464128843338vw 0 7.174231332357247vw;
  padding-top: 4.685212298682284vw;
}

.short-about .text .guarantee {
  height: 14.202049780380674vw;
  width: 40.995607613469986vw;
  background: #EEEDEA;
  margin-left: 7.174231332357247vw;
  border-radius: 0.8784773060029283vw;
}

.short-about .video {
  position: absolute;
  right: 0;
  top: 4.685212298682284vw;
  width: 48.90190336749634vw;
  height: 32.06442166910688vw;
  z-index: 99;
  background: url(../img/video-bg.png);
}

.comp-blog {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 13;
  -ms-grid-row: 5;
      grid-row-start: 5;
  grid-row-end: 6;
  width: 100vw;
  height: 39.82430453879942vw;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 4.319180087847731vw 3.6603221083455346vw;
      grid-template-rows: 4.319180087847731vw 3.6603221083455346vw;
}

.comp-blog .head {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.comp-blog .head h3 {
  margin-left: 7.174231332357247vw;
}

.comp-blog .head a {
  display: block;
  position: absolute;
  top: 0.36603221083455345vw;
  right: 7.174231332357247vw;
  height: 2.9282576866764276vw;
  width: 9.224011713030746vw;
  border: 1px solid;
  border-radius: 1.5vw;
  text-align: center;
  line-height: 2.5vw;
  border-color: #C1932C;
  text-decoration: none;
  color: #000;
}

.comp-blog .head a:hover {
  background: #C1932C;
  color: #fff;
}

.comp-blog .some-articles {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 4;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2.1961932650073206vw;
  margin: 0 7.174231332357247vw;
  margin-top: 2vw;
}

.comp-blog .some-articles .article {
  width: 27.086383601756953vw;
  height: 24.597364568081993vw;
}

.comp-blog .some-articles .article img {
  width: 27.086383601756953vw;
  height: 14.641288433382138vw;
}

.comp-blog .some-articles .article a {
  text-decoration: none;
  color: #000;
}

.comp-blog .some-articles .article a:hover .art-name {
  color: #1C6C7E;
}

.comp-blog .some-articles .article .art-name {
  margin-top: 1.5vw;
  font-size: 1.171303074670571vw;
}

.comp-blog .some-articles .article .art-info {
  margin-top: 1vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.comp-blog .some-articles .article .art-info .date {
  margin-right: 1vw;
}

.comp-blog .some-articles .article .art-info .looking {
  margin-right: 1vw;
}

.comp-blog .some-articles .article .art-info span {
  color: #807D76;
  font-size: 1.0248901903367496vw;
}

.comp-blog .some-articles .article .art-info img {
  margin-right: 0.5vw;
  height: 1.171303074670571vw;
  width: 1.171303074670571vw;
}

.our-clients {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 13;
  -ms-grid-row: 6;
      grid-row-start: 6;
  grid-row-end: 7;
  width: 100vw;
  height: 25.329428989751097vw;
  background: #F9F9F8;
}

.our-clients .cli-slider .slide {
  width: 15vw;
}
/*# sourceMappingURL=style.css.map */