body { 
	margin: 5% auto;
	background: #fff;
	padding-bottom: 10%;
}
/* Wraper */
.table-wraper {
	margin: 20px auto;
	display: grid;	
	min-width: 500px;
	max-width: 1200px;
	width: 100%;
	grid-template-columns: repeat(12, 1fr);
	grid-auto-rows: minmax(15px, auto);
	grid-row-gap: 0.5%; 
	font-family: 'Lexend Giga', sans-serif;
}


.adressfeld {
	display: grid;
	grid-column-start: 1;
	grid-column-end: 6;
	grid-row-start: 1;
	grid-row-end: 4;
	grid-template-columns: repeat(12, 1fr);
	grid-auto-rows: minmax(25px, auto);
	margin-right: 2%; 
	border: 1px solid;
	border-color: #000;
	font-size: 1.4vw;
}
.adressfeld>.frstRow {
	padding-left: 5px;
	align-items: center;
	max-height: 70%;
} 
.Anschrift_des>.frstRow {
	padding-left: 5px;
	align-items: center;
} 
.der_Anlage>.frstRow {
	padding-left: 5px;
	align-items: center;
}
.adressfeld>.frstRow {
	display: flex;
	grid-column-start: 1;
	grid-column-end: 13;
	background: #d6e0e4;

}
.adressfeld>.scndRow {
	display: grid;
	grid-column-start: 1;
	grid-column-end: 13;
	margin: 0.5% 1%;
	justify-content: center;
	align-items: center;
	grid-template-columns: repeat(9, 1fr);
	grid-auto-rows: minmax(25px, auto);
	column-gap: 2%;
	min-height: 80px;
	margin-top: -1.5%;
}
.adress_id {
	/* background: #bfbffe; */
	padding-left: 5px;
	max-width: 90%;
	/* border: 1px solid; */
}
.id1, .id2, .id3, .id4, .id5{
	border: 1px solid;
}
.adressfeld>.scndRow>.id1{
	grid-column-start: 1;
	grid-column-end: 10;
		
}
.adressfeld>.scndRow>.id2{
	grid-column-start: 1;
	grid-column-end: 8;
}
.adressfeld>.scndRow>.id3{
	grid-column-start: 8;
	grid-column-end: 10;
}
.adressfeld>.scndRow>.id4{
	grid-column-start: 1;
	grid-column-end: 5;
}
.adressfeld>.scndRow>.id5{
	grid-column-start: 5;
	grid-column-end: 10;
}





.tag-der-insp {
	display: grid;
	grid-column-start: 6;
	grid-column-end: 13;
	grid-row-start: 1;
	grid-row-end: 2;
	grid-template-columns: repeat(12, 1fr);
	grid-auto-rows: minmax(15px, auto);
	border-color: #000;
	border: 1px solid;
	max-height: 30px;
}
.headline-tag-der {
	display: flex;
	grid-column-start: 1;
	grid-column-end: 6;
	background: #d6e0e4;
	justify-content: center;
	align-items: center;
	font-size: 1.4vw;
}
.date-block {
	grid-column-start: 6;
	grid-column-end: 13;
	display: flex;
	justify-content: center;
	align-items: center;
		
}
.date-block>input {
		width: 50%; 	
		border: 0px solid;
		font-size: 1.4vw;
}
.simple-inputtext {
	display: flex;
	grid-column-start: 6;
	grid-column-end: 13;
	grid-row-start: 2;
	grid-row-end: 3;
	max-height: 30px;
	border-color: #000;
	border: 1px solid;
	justify-content: start;
	align-items: center;
	padding: 0.5% 1%;
	font-size: 1.4vw;
}

h5>span {
	font-size: 0.8vw;
}
.empty-inputtext {
	display: grid;
	grid-column-start: 6;
	grid-column-end: 13;
	grid-row-start: 3;
	grid-row-end: 4;
	grid-template-columns: repeat(12, 1fr);
	grid-auto-rows: minmax(15px, auto);
	border: 1px solid;
	border-color: #000;
}
.Anschrift_des{
	display: grid;
	grid-column-start: 1;
	grid-column-end: 6;
	grid-row-start: 4;
	grid-row-end: 5;
	grid-template-columns: repeat(12, 1fr);
	grid-auto-rows: minmax(30px, auto);
	margin-right: 2%; 
	border: 1px solid;
	border-color: #000;
	font-size: 1.4vw;
}
.Anschrift_des>.frstRow {
	display: flex;
	grid-column-start: 1;
	grid-column-end: 13;
	background: #d6e0e4;
}
.Anschrift_des>.scndRow {
	display: grid;
	grid-column-start: 1;
	grid-column-end: 13;
	margin: 0.5% 1%;
	justify-content: center;
	align-items: center;
	grid-template-columns: repeat(9, 1fr);
	grid-auto-rows: minmax(25px, auto);
	column-gap: 2%;
	min-height: 90px;
}
.Anschrift_des>.scndRow>.id1{
	grid-column-start: 1;
	grid-column-end: 10;	
}
.Anschrift_des>.scndRow>.id2{
	grid-column-start: 1;
	grid-column-end: 8;
}
.Anschrift_des>.scndRow>.id3{
	grid-column-start: 8;
	grid-column-end: 10;
}
.Anschrift_des>.scndRow>.id4{
	grid-column-start: 1;
	grid-column-end: 5;
}
.Anschrift_des>.scndRow>.id5{
	grid-column-start: 5;
	grid-column-end: 10;
}
.der_Anlage {
	display: grid;
	grid-column-start: 6;
	grid-column-end: 13;
	grid-row-start: 4;
	grid-row-end: 5;
	grid-template-columns: repeat(12, 1fr);
	grid-auto-rows: minmax(30px, auto);
	border: 1px solid;
	border-color: #000;
	font-size: 1.4vw;
}
.der_Anlage>.frstRow {
	display: flex;
	grid-column-start: 1;
	grid-column-end: 13;
	background: #d6e0e4;
}
.der_Anlage>.scndRow {
	display: grid;
	grid-column-start: 1;
	grid-column-end: 13;
	margin: 0.5% 1%;
	justify-content: center;
	align-items: center;
	grid-template-columns: repeat(9, 1fr);
	grid-auto-rows: minmax(25px, auto);
	column-gap: 2%;
	min-height: 90px;
}
.der_Anlage>.scndRow>.id1{
	grid-column-start: 1;
	grid-column-end: 10;	
}
.der_Anlage>.scndRow>.id2{
	grid-column-start: 1;
	grid-column-end: 8;
}
.der_Anlage>.scndRow>.id3{
	grid-column-start: 8;
	grid-column-end: 10;
}
.der_Anlage>.scndRow>.id4{
	grid-column-start: 1;
	grid-column-end: 5;
}
.der_Anlage>.scndRow>.id5{
	grid-column-start: 5;
	grid-column-end: 10;
}


.headline-inspektionsbericht{
	display: flex;
	grid-column-start: 1;
	grid-column-end: 13;
}
h2>span {
	font-size: 1.3vw;
	font-weight: 
}
/* First main row */
.headline {
	display: flex;
	grid-column-start: 1;
	grid-column-end: 13;
	background: #c4d7df;
	min-height: 29px;
	height: auto;
	border-color: #000;
	border: 1px solid;
	align-items: center;
	padding-left: 5px;
	font-size: 1.7vw;
    font-weight: bold;
}


/* Angaben-frstTable */
.Angaben-frstTable {
	border-color: #000;
	border: 1px solid;
	grid-column-start: 1;
	grid-column-end: 13;
	font-size: 1.25vw;
}

.Angaben-frstTable>.frstRow {
	/* width: 825px; */
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-auto-rows: minmax(15px, auto);
	background: #ebf2f4;
	min-height: 20px;
	height: auto;
}
.Angaben-frstTable>.frstRow>.col1 {
	grid-column-start: 1;
	grid-column-end: 3;

}
.Angaben-frstTable>.frstRow>.col2 {
	grid-column-start: 3;
	grid-column-end: 6;
	border-left: 1px solid;
}
.Angaben-frstTable>.frstRow>.col3 {
	grid-column-start: 6;
	grid-column-end: 8;
	border-left: 1px solid;
}
.Angaben-frstTable>.frstRow>.col4 {
	grid-column-start: 8;
	grid-column-end: 10;
	border-left: 1px solid;
}
.Angaben-frstTable>.frstRow>.col5 {
	grid-column-start: 10;
	grid-column-end: 13;
	border-left: 1px solid;
}
.Angaben-frstTable>.scndRow {
	/* width: 825px; */
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-auto-rows: minmax(15px, auto);
	background: #fff;
	min-height: 30px;
	height: auto;
	border-color: #000;
	border-top: 1px solid;
}
.Angaben-frstTable>.scndRow>.col1 {
	grid-column-start: 1;
	grid-column-end: 3;

}
.Angaben-frstTable>.scndRow>.col2 {
	grid-column-start: 3;
	grid-column-end: 6;
	border-left: 1px solid;
}
.Angaben-frstTable>.scndRow>.col3 {
	grid-column-start: 6;
	grid-column-end: 8;
	border-left: 1px solid;
}
.Angaben-frstTable>.scndRow>.col4 {
	grid-column-start: 8;
	grid-column-end: 10;
	border-left: 1px solid;
}
.Angaben-frstTable>.scndRow>.col5 {
	grid-column-start: 10;
	grid-column-end: 13;
	border-left: 1px solid;
}
/* Second table */
.Angaben-scndTable {
	border-color: #000;
	border: 1px solid;
	font-size: 1.25vw;
	grid-column-start: 1;
	grid-column-end: 13;
}

.Angaben-scndTable>.frstRow {
	
	/* width: 825px; */
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-auto-rows: minmax(15px, auto);
	background: #ebf2f4;
	min-height: 22px;
	height: auto;
}
.Angaben-scndTable>.frstRow>.col1 {
	grid-column-start: 1;
	grid-column-end: 6;
}
.Angaben-scndTable>.frstRow>.col2 {
	grid-column-start: 6;
	grid-column-end: 13;	
	border-color: #000;
	border-left: 1px solid;
}

.Angaben-scndTable>.scndRow {
	/* width: 825px; */
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-auto-rows: minmax(15px, auto);
	background: #fff;
	min-height: 30px;
	height: auto;
	border-color: #000;
	border-top: 1px solid;
}
.Angaben-scndTable>.scndRow>.col1 {
	grid-column-start: 1;
	grid-column-end: 6;

}
.Angaben-scndTable>.scndRow>.col2 {
	grid-column-start: 6;
	grid-column-end: 13;
	border-left: 1px solid;
}
/* End of the second table */

/* Wärmeerzeuger */
.Wärmeerzeuger-frstTable {
	border-color: #000;
	border: 1px solid;
	grid-column-start: 1;
	grid-column-end: 13;
	font-size: 1.25vw;
}
.Wärmeerzeuger-frstTable>.frstRow {
	/* width: 825px; */
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-auto-rows: minmax(15px, auto);
	background: #ebf2f4;
	min-height: 20px;
	height: auto;
}
.Wärmeerzeuger-frstTable>.frstRow>.col1 {
	grid-column-start: 1;
	grid-column-end: 6;

}
.Wärmeerzeuger-frstTable>.frstRow>.col2 {
	grid-column-start: 6;
	grid-column-end: 8;
	border-left: 1px solid;
}
.Wärmeerzeuger-frstTable>.frstRow>.col3 {
	grid-column-start: 8;
	grid-column-end: 10;
	border-left: 1px solid;
}
.Wärmeerzeuger-frstTable>.frstRow>.col4 {
	grid-column-start: 10;
	grid-column-end: 13;
	border-left: 1px solid;
}

.Wärmeerzeuger-frstTable>.scndRow {
	/* width: 825px; */
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-auto-rows: minmax(15px, auto);
	background: #fff;
	min-height: 30px;
	height: auto;
	border-color: #000;
	border-top: 1px solid;
}
.Wärmeerzeuger-frstTable>.scndRow>.col1 {
	grid-column-start: 1;
	grid-column-end: 6;

}
.Wärmeerzeuger-frstTable>.scndRow>.col2 {
	grid-column-start: 6;
	grid-column-end: 8;
	border-left: 1px solid;
}
.Wärmeerzeuger-frstTable>.scndRow>.col3 {
	grid-column-start: 8;
	grid-column-end: 10;
	border-left: 1px solid;
}
.Wärmeerzeuger-frstTable>.scndRow>.col4 {
	grid-column-start: 10;
	grid-column-end: 13;
	border-left: 1px solid;
}
/* End of the first table */


/* Second table */
.Wärmeerzeuger-scndTable {
	border-color: #000;
	border: 1px solid;
	font-size: 1.25vw;
	grid-column-start: 1;
	grid-column-end: 13;
}

.Wärmeerzeuger-scndTable>.frstRow {
	
	/* width: 825px; */
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-auto-rows: minmax(15px, auto);
	background: #ebf2f4;
	min-height: 22px;
	height: auto;
}
.Wärmeerzeuger-scndTable>.frstRow>.col1 {
	grid-column-start: 1;
	grid-column-end: 3;
}
.Wärmeerzeuger-scndTable>.frstRow>.col2 {
	grid-column-start: 3;
	grid-column-end: 5;	
	border-color: #000;
	border-left: 1px solid;
}
.Wärmeerzeuger-scndTable>.frstRow>.col3 {
	grid-column-start: 5;
	grid-column-end: 8;	
	border-color: #000;
	border-left: 1px solid;
}

.Wärmeerzeuger-scndTable>.scndRow {
	/* width: 825px; */
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-auto-rows: minmax(15px, auto);
	background: #fff;
	min-height: 30px;
	height: auto;
	border-color: #000;
	border-top: 1px solid;
}
.Wärmeerzeuger-scndTable>.scndRow>.col1 {
	grid-column-start: 1;
	grid-column-end: 3;

}
.Wärmeerzeuger-scndTable>.scndRow>.col2 {
	grid-column-start: 3;
	grid-column-end: 5;
	border-left: 1px solid;
}
.Wärmeerzeuger-scndTable>.scndRow>.col3 {
	grid-column-start: 5;
	grid-column-end: 8;
	border-left: 1px solid;
}
/* End of the second table */
.col {
	padding-left: 5px; 
}

.Bewertung-frstTable {
	border-color: #000;
	border: 1px solid;
	grid-column-start: 1;
	grid-column-end: 13;
	font-size: 1.25vw;
}
.Bewertung-frstTable>.frstRow {
	/* width: 825px; */
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-auto-rows: minmax(15px, auto);
	background: #ebf2f4;
	min-height: 20px;
	height: auto;
}
.Bewertung-frstTable>.frstRow>.col1 {
	grid-column-start: 1;
	grid-column-end: 4;

}
.Bewertung-frstTable>.frstRow>.col2 {
	grid-column-start: 4;
	grid-column-end: 7;
	border-left: 1px solid;
}
.Bewertung-frstTable>.frstRow>.col3 {
	grid-column-start: 7;
	grid-column-end: 10;
	border-left: 1px solid;
}
.Bewertung-frstTable>.frstRow>.col4 {
	grid-column-start: 10;
	grid-column-end: 13;
	border-left: 1px solid;
}

.Bewertung-frstTable>.scndRow {
	/* width: 825px; */
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-auto-rows: minmax(15px, auto);
	background: #fff;
	min-height: 30px;
	height: auto;
	border-color: #000;
	border-top: 1px solid;
}
.Bewertung-frstTable>.scndRow>.col1 {
	grid-column-start: 1;
	grid-column-end: 4;
	border-right: 1px solid;
}
.Bewertung-frstTable>.scndRow>.col2 {
	grid-column-start: 4;
	grid-column-end: 7;
	border-right: 1px solid;
}
.Bewertung-frstTable>.scndRow>.col3 {
	grid-column-start: 7;
	grid-column-end: 10;
	border-right: 1px solid;
	
}
.Bewertung-frstTable>.scndRow>.col4 {
	grid-column-start: 10;
	grid-column-end: 13;
	border: 3px solid;
	border-color: #7b919b;
}
.Bewertung-frstTable>.scndRow>.col4>input {
	margin-left: -4px;
   /*  border: 3px solid;
    border-color: #7b919b;
    width: 100%; */
}

/* End of the first table Bewertung */
.diagram {
	grid-column-start: 1;
	grid-column-end: 13;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-auto-rows: minmax(15px, auto);
}
.diagram-header {
	grid-column-start: 1;
	grid-column-end: 13;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-auto-rows: minmax(15px, auto);
}
.diagram-header>.part1 {
	grid-column-start: 1;
	grid-column-end: 7;
}
.diagram-header>.part2 {
	grid-column-start: 7;
	grid-column-end: 13;
	display: flex;
	justify-content: flex-end;
}
.arrows {
	grid-column-start: 1;
	grid-column-end: 13;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-auto-rows: minmax(15px, auto);
	font-size: 1.1vw;
}
.arrows>.part1 {
	grid-column-start: 1;
	grid-column-end: 3;
}
.arrows>.part2 {
	grid-column-start: 3;
	grid-column-end: 6;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.arrows>.part2>img {
	display: block;
	width: 80%;
	height: 50%;
}
.arrows>.part4>img {
	display: block;
	width: 110%;
	height: 50%;
}
.arrows>.part3 {
	grid-column-start: 6;
	grid-column-end: 9;
}
.arrows>.part4 {
	grid-column-start: 9;
	grid-column-end: 11;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.arrows>.part5 {
	grid-column-start: 11;
	grid-column-end: 13;
	display: flex;
	justify-content: flex-end; 
}
.colors {
	grid-column-start: 1;
	grid-column-end: 13;
	display: grid;
	grid-template-columns: 15% 3% 1% 3% 7% 13% 10% 5% 10% 5% 28%;
	grid-auto-rows: minmax(15px, auto);
}
.colors>.part1 {
	background: #2da438;
}
.colors>.part2 {
	background: #43b235;
}
.colors>.part3 {
	background: #5bb92e;
}
.colors>.part4 {
	background: #7fcb27;
}
.colors>.part5 {
	background: #b4db16;
}
.colors>.part6 {
	background: #fef100;
}
.colors>.part7 {
	background: #fbc406;
}
.colors>.part8 {
	background: #f7942d;
}
.colors>.part9 {
	background: #f15426;
}
.colors>.part10 {
	background: #ee2d20;
}
.colors>.part11 {
	background: #c6222c;
}

.numbers {
	grid-column-start: 1;
	grid-column-end: 13;
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-auto-rows: minmax(15px, auto);
	font-size: 1.6vw;
}
.numbers>.part1 {
	grid-column-start: 1;
	grid-column-end: 3;
}
.numbers>.part2 {
	grid-column-start: 3;
	grid-column-end: 5;
	padding-left: 20%;
}
.numbers>.part3 {
	grid-column-start: 5;
	grid-column-end: 7;
	padding-left: 40%;
}
.numbers>.part4 {
	grid-column-start: 7;
	grid-column-end: 9;
	display: flex;
	justify-content: center;
}
.numbers>.part5 {
	grid-column-start: 9;
	grid-column-end: 11;
	display: flex;
	justify-content: flex-end;
}


input { 
	width: 100%;	
	border: 0px solid;
	font-size: 1.4vw;
	outline: none;
}
input:disabled {
	background-color: #fff;
}

/* Anwendug */
.anwendug {
	grid-column-start: 1;
	grid-column-end: 13;
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-auto-rows: minmax(15px, auto);
	font-size: 1vw;
}
.anwenbug-header{
	grid-column-start: 1;
	grid-column-end: 11;
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-auto-rows: minmax(15px, auto);
	border-bottom: 1px solid;
	border-color: #908e8f;

}
.anwenbug-header>.col1 {
	grid-column-start: 1;
	grid-column-end: 6;
	padding: 5px 10px;

}
.anwenbug-header>.col2 {
	grid-column-start: 6;
	grid-column-end: 8;
	background: #eaeff1;
	padding: 5px 10px;
}
.anwenbug-header>.col3 {
	grid-column-start: 8;
	grid-column-end: 11;
	padding: 5px 10px;
}
.anwenbug-main{
	grid-column-start: 1;
	grid-column-end: 11;
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-auto-rows: minmax(15px, auto);
}
.anwenbug-main>.col3>input:disabled{
	background-color: #eaeff1;
}
.anwenbug-main>.col3{
	padding-left: 5px;
}
.anwenbug-main>.col1 {
	grid-column-start: 1;
	grid-column-end: 6;
	border-color: #908e8f;
	border-bottom: 1px solid;
	padding-left: 25px;

}
.anwenbug-main>.col2 {
	display: flex;
	grid-column-start: 6;
	grid-column-end: 8;
	background: #eaeff1;
	border-color: #908e8f;
	border-bottom: 1px solid;
	justify-content: center;
}
.anwenbug-main>.col3 {
	grid-column-start: 8;
	grid-column-end: 11;
	border-color: #908e8f;
	border-bottom: 1px solid;
}
.anwenbug-main>.row1 {
	grid-row-start: 1;
	grid-row-end: 2;
	background-color: #d6e0e4;
	padding-left: 5px;
}
.anwenbug-main>.row2 {
	grid-row-start: 2;
	grid-row-end: 3;
}
.anwenbug-main>.row3 {
	grid-row-start: 3;
	grid-row-end: 4;
}
.anwenbug-main>.row4 {
	grid-row-start: 4;
	grid-row-end: 5;
}
.anwenbug-main>.row5 {
	grid-row-start: 5;
	grid-row-end: 6;
}
.anwenbug-main>.row6 {
	grid-row-start: 6;
	grid-row-end: 7;
}
.anwenbug-main>.row7 {
	grid-row-start: 7;
	grid-row-end: 8;
}
.anwenbug-main>.row8 {
	grid-row-start: 8;
	grid-row-end: 9;
}
.anwenbug-main>.row9 {
	grid-row-start: 9;
	grid-row-end: 10;
}
.anwenbug-main>.row10 {
	grid-row-start: 10;
	grid-row-end: 11;
}
.anwenbug-main>.row11 {
	grid-row-start: 11;
	grid-row-end: 12;
	background: #eaeff1;
}
.anwenbug-main>.row12 {
	grid-row-start: 12;
	grid-row-end: 13;
}
.anwenbug-main>.row13 {
	grid-row-start: 13;
	grid-row-end: 14;
	background-color: #d6e0e4;
	padding-left: 5px;
}
.anwenbug-main>.row14 {
	grid-row-start: 14;
	grid-row-end: 15;
}
.anwenbug-main>.row15 {
	grid-row-start: 15;
	grid-row-end: 16;
}
.anwenbug-main>.row16 {
	grid-row-start: 16;
	grid-row-end: 17;
}
.anwenbug-main>.row17 {
	grid-row-start: 17;
	grid-row-end: 18;
}
.anwenbug-main>.row18 {
	grid-row-start: 18;
	grid-row-end: 19;
}
.anwenbug-main>.row19 {
	grid-row-start: 19;
	grid-row-end: 20;
}
.anwenbug-main>.row21 {
	grid-row-start: 21;
	grid-row-end: 22;
}
.anwenbug-main>.row22 {
	grid-row-start: 22;
	grid-row-end: 23;
}
.anwenbug-main>.row23 {
	grid-row-start: 23;
	grid-row-end: 24;
}
.anwenbug-main>.row24 {
	grid-row-start: 24;
	grid-row-end: 25;
	background: #eaeff1;
}
.anwenbug-main>.row25 {
	grid-row-start: 25;
	grid-row-end: 26;
}
.anwenbug-main>.row26 {
	grid-row-start: 26;
	grid-row-end: 27;
	background-color: #d6e0e4;
	padding-left: 5px;
}
.anwenbug-main>.row27 {
	grid-row-start: 27;
	grid-row-end: 28;
}
.anwenbug-main>.row28 {
	grid-row-start: 28;
	grid-row-end: 29;
}
.anwenbug-main>.row29 {
	grid-row-start: 29;
	grid-row-end: 30;
}
.anwenbug-main>.row31 {
	grid-row-start: 31;
	grid-row-end: 32;
}
.anwenbug-main>.row32 {
	grid-row-start: 32;
	grid-row-end: 33;
}
.anwenbug-main>.row33 {
	grid-row-start: 33;
	grid-row-end: 34;
}
.anwenbug-main>.row34 {
	grid-row-start: 34;
	grid-row-end: 35;
}
.anwenbug-main>.row35 {
	grid-row-start: 35;
	grid-row-end: 36;
}
.anwenbug-main>.row36 {
	grid-row-start: 36;
	grid-row-end: 37;
}
.anwenbug-main>.row37 {
	grid-row-start: 37;
	grid-row-end: 38;
	background: #eaeff1;
}
.anwenbug-main>.row38 {
	grid-row-start: 38;
	grid-row-end: 39;
	border-bottom: 1px solid;
}
.footline {
	grid-column-start: 1;
	grid-column-end: 11;
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-auto-rows: minmax(15px, auto);
	background: #b0c3cb;
}
.footline>.col1 {
	grid-column-start: 1;
	grid-column-end: 6;
	border-color: #908e8f;
	border-bottom: 1px solid;
	padding-left: 25px;	
	
}
.footline>.col2 {
	display: flex;
	grid-column-start: 6;
	grid-column-end: 8;
	/* background: #eaeff1; */
	border-color: #908e8f;
	border-bottom: 1px solid;
	justify-content: center;
}
.footline>.col3 {
	grid-column-start: 8;
	grid-column-end: 11;
	border-color: #908e8f;
	border-bottom: 1px solid;
}
.footline>.col3>input {
	width: 80%
}

.footer2 {
	grid-column-start: 1;
	grid-column-end: 13;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: minmax(15px, auto);
	font-size: 0.95vw;
}
.footer2>.row1{
	grid-column-start: 1;
	grid-column-end: 3;
}
.footer2>.row2{
	grid-column-start: 1;
	grid-column-end: 3;
	border-color: #000;
	border: 1px solid;
	height: 50px;
}
.footer {
	grid-column-start: 1;
	grid-column-end: 13;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-auto-rows: minmax(15px, auto);
	font-size: 0.95vw;
}
.footer>.row1{
	grid-column-start: 1;
	grid-column-end: 12;
}
.footer>.row2{
	grid-column-start: 1;
	grid-column-end: 11;
	border-color: #000;
	border: 1px solid;
	height: 95%;
}
.footer>.row3{
	grid-column-start: 12;
	grid-column-end: 13;
}
.footer>.row3>img{
	width: 100%;
}
