.container {
  margin: 0 auto;
  width: 91.78617992177314vw;
  max-width: 91.78617992177314vw;
  height: auto;
}

wrapper {
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  grid-auto-rows: minmax(10px, auto);
  grid-column-gap: 1.303780964797914vw;
  grid-row-gap: 0px;
  width: 91.78617992177314vw;
  max-width: 91.78617992177314vw;
}

.header {
  display: -ms-grid;
  display: grid;
  height: 87.48370273794002vw;
  max-height: 87.48370273794002vw;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 9;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  background: url(../img/header_bg767.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  grid-auto-rows: minmax(10px, 10.5vw);
  grid-column-gap: 1.303780964797914vw;
}

.headline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 7;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  font-size: 6.51890482398957vw;
  font-weight: 400;
  padding-top: 6vw;
  height: 24.375vw;
  max-height: 24.375vw;
  margin-left: 3.780964797913951vw;
}

.headline h3 {
  margin: 0 0 0 0;
}

.headline span {
  color: #ef2422;
}

.underline {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 7;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  font-size: 2.607561929595828vw;
  font-weight: 400;
  line-height: 3.25vw;
  padding-top: 1.5vw;
  margin-left: 3.780964797913951vw;
}

.red-div {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 7;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 4;
  background-color: #ef2422;
  max-width: 67.29152542372882vw;
  width: 67.29152542372882vw;
  max-height: 4.9375vw;
  height: 4.9375vw;
  font-size: 2.207561929595828vw;
  font-weight: 400;
  line-height: 0px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: minmax(10px, auto);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-top: 0vw;
  margin-right: 6.780964797913951vw;
}

.red-div p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 4.780964797913951vw;
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 7;
  text-align: center;
}

.header-text {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 7;
  -ms-grid-row: 6;
      grid-row-start: 6;
  margin-left: 3.780964797913951vw;
  margin-top: 11vw;
  font-size: 1.75vw;
}

.result {
  display: -ms-grid;
  display: grid;
  max-height: 66.49282920469362vw;
  height: 66.49282920469362vw;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 9;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  background: #0b0c0e;
  color: #fff;
  border-top: 0.15vw solid #ef2422;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  grid-auto-rows: minmax(10px, auto);
  grid-column-gap: 1.303780964797914vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.res_headline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 7;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  max-width: 90vw;
  height: 5vw;
  background: #ef2422;
  margin-top: -2.5vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2.4vw;
  margin-left: 3.780964797913951vw;
  margin-right: 1.216427640156454vw;
}

.reswrap {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 7;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  -ms-grid-columns: 2fr 2fr;
      grid-template-columns: 2fr 2fr;
      grid-template-areas: "photo1 photo2" "text1 text2" "photo3 photo4" "text3 text4";
  -ms-grid-rows: 21vw 8vw 21vw 8vw;
      grid-template-rows: 21vw 8vw 21vw 8vw;
  grid-column-gap: 0vw;
  font-size: 1.9vw;
  max-width: 44.71968709256845vw;
  height: 66vw;
  min-height: 66vw;
  margin-left: 3.780964797913951vw;
}

.reswrap img {
  width: 17.60104302477184vw;
  max-width: 17.60104302477184vw;
}

.txt_res {
  margin-left: 2vw;
  width: 17.5625vw;
  height: 8vw;
  min-height: 8vw;
  padding-bottom: 0vw;
}

.txt_res span {
  color: #ef2422;
}

.photo_res {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.ph1_res {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: photo1;
}

.t1_res {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: text1;
}

.ph2_res {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: photo2;
}

.t2_res {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: text2;
}

.ph3_res {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: photo3;
}

.t3_res {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: text3;
}

.ph4_res {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: photo4;
}

.t4_res {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: text4;
  margin-right: -5vw;
}

.efficiency {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 9;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 4;
  display: -ms-grid;
  display: grid;
  border-top: 0.15vw solid #ef2422;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  -ms-grid-rows: 2vw 96.3vw 19.165580182529336vw;
      grid-template-rows: 2vw 96.3vw 19.165580182529336vw;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 117.47vw;
  max-height: 117.25vw;
}

.eff_headline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 7;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  height: 5vw;
  background: #ef2422;
  margin-top: -2.5vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-size: 2.2vw;
  z-index: 10;
  max-width: 90vw;
  margin-left: 3.725vw;
  margin-right: 1.225vw;
}

.part1_eff {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 9;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
  background-color: #f1f1f1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  -ms-grid-rows: 55.93vw 42.3728813559322vw;
      grid-template-rows: 55.93vw 42.3728813559322vw;
  grid-row-gap: 1.303780964797914vw;
  grid-column-gap: 0px;
  height: 235vw;
  max-height: 235vw;
}

.p1_photo {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 7;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  max-height: 724px;
}

.p1_photo img {
  margin-left: 5.867014341590613vw;
  width: 38.72229465449804vw;
  height: auto;
}

#px767 {
  display: inline;
}

#px1600 {
  display: none;
}

.p1_diagram {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 9;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  max-height: 134.375vw;
  height: 134.375vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (0.5fr)[8];
      grid-template-columns: repeat(8, 0.5fr);
  -ms-grid-rows: 6.6492829204693615vw 15.123859191655804vw 11.734028683181226vw 11.473272490221643vw 10.951760104302476vw;
      grid-template-rows: 6.6492829204693615vw 15.123859191655804vw 11.734028683181226vw 11.473272490221643vw 10.951760104302476vw;
  grid-row-gap: 0px;
  grid-column-gap: 0px;
  font-weight: 400;
  font-family: "Century Gothic";
}

.diagram {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 5;
}

.diagram img {
  width: 37.157757496740544vw;
  height: auto;
}

.month2 {
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 7;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  line-height: 2.2vw;
  margin-left: 4vw;
  margin-top: -1vw;
}

.month1 {
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 6;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 4;
  margin-left: 1.5vw;
  margin-top: -1vw;
  line-height: 2.2vw;
}

.hours8 {
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 6;
  -ms-grid-row: 4;
      grid-row-start: 4;
  grid-row-end: 5;
  margin-left: -1.5vw;
  margin-top: -1vw;
  line-height: 2.2vw;
}

.momental {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 6;
  -ms-grid-row: 5;
      grid-row-start: 5;
  grid-row-end: 6;
  margin-left: 5.5vw;
  margin-top: 0vw;
  line-height: 2.2vw;
}

.cream {
  display: none;
}

span.red {
  color: #ef2422;
  font-size: 2.216427640156454vw;
}

span.black {
  color: #27282a;
  font-size: 1.564537157757497vw;
}

span.gray {
  color: #999999;
  font-size: 1.4341590612777053vw;
}

.part2_eff {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 7;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 4;
  max-height: 19.165580182529336vw;
  height: 19.165580182529336vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 1.8vw;
  padding-top: 3vw;
  margin-left: 3.780964797913951vw;
}

.ingredients {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 9;
  -ms-grid-row: 4;
      grid-row-start: 4;
  grid-row-end: 5;
  display: -ms-grid;
  display: grid;
  border-top: 0.15vw solid #ef2422;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  -ms-grid-rows: 2vw 72.44589308996089vw 57.49674054758801vw;
      grid-template-rows: 2vw 72.44589308996089vw 57.49674054758801vw;
  grid-column-gap: 0px;
  height: 132vw;
  max-height: 132vw;
  background: #fff;
}

.ingr_headline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 7;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  height: 5vw;
  background: #ef2422;
  margin-top: -2.5vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-size: 2.2vw;
  z-index: 10;
  max-width: 90vw;
  margin-left: 3.780964797913951vw;
  margin-right: 1.216427640156454vw;
}

.white_ingr {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 7;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
  height: 74.56589308996089vw;
  max-height: 74.56589308996089vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 5.084745762711865vw 11.342894393741851vw 29.074315514993483vw 11.994784876140809vw 17.470664928292045vw;
      grid-template-rows: 5.084745762711865vw 11.342894393741851vw 29.074315514993483vw 11.994784876140809vw 17.470664928292045vw;
  z-index: 10;
}

.peptid {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  z-index: 20;
  margin-left: 3.780964797913951vw;
  line-height: 1.8vw;
}

.vitamin_C {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 7;
  -ms-grid-row: 5;
      grid-row-start: 5;
  grid-row-end: 6;
  margin-left: -1vw;
  margin-top: 0vw;
  z-index: 20;
  line-height: 1.8vw;
  width: 22.816166883963493vw;
}

.termal_water {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  -ms-grid-row: 4;
      grid-row-start: 4;
  grid-row-end: 5;
  margin-top: 0vw;
  width: 19.947848761408082vw;
  z-index: 20;
  line-height: 1.8vw;
  margin-left: 3.780964797913951vw;
}

.pict_ingr {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 13;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 4;
  margin-left: 0vw;
  margin-top: 1.5vw;
}

.pict_ingr img {
  width: 52.803129074315514vw;
  height: 48.109517601043024vw;
}

#jpgID {
  display: none;
}

#pngID {
  display: inline;
}

.red_ingr {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 9;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 4;
  max-height: 57.75749674054759vw;
  height: 57.75749674054759vw;
  background: url(../img/redfon_ingr767.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  -ms-grid-rows: 5.736636245110821vw 4.163233376792699vw 4.211342894393742vw 5.867014341590613vw 5.215123859191656vw 7.170795306388526vw 4.823989569752282vw 10.691003911342895vw 9.256844850065189vw;
      grid-template-rows: 5.736636245110821vw 4.163233376792699vw 4.211342894393742vw 5.867014341590613vw 5.215123859191656vw 7.170795306388526vw 4.823989569752282vw 10.691003911342895vw 9.256844850065189vw;
}

.safety {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 7;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 7;
  margin-left: 0.3vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 5.736636245110821vw 4.163233376792699vw 4.211342894393742vw 5.867014341590613vw 5.215123859191656vw 7.170795306388526vw;
      grid-template-rows: 5.736636245110821vw 4.163233376792699vw 4.211342894393742vw 5.867014341590613vw 5.215123859191656vw 7.170795306388526vw;
}

.safety span.free {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  min-height: 5.736636245110821vw;
}

.safety span.red {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 4;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  font-size: 2.5vw;
  margin-left: 1.5vw;
  min-height: 4.563233376792699vw;
}

.safety span.black {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 5;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 6;
  margin-right: 4.4vw;
  font-size: 1.564537157757497vw;
  margin-left: 4.5vw;
}

.safety span.b1 {
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 4;
  min-height: 3.911342894393742vw;
}

.safety span.b2 {
  -ms-grid-row: 4;
      grid-row-start: 4;
  grid-row-end: 5;
  min-height: 13.0625vw;
}

.safety span.b3 {
  -ms-grid-row: 5;
      grid-row-start: 5;
  grid-row-end: 6;
  min-height: 12.5vw;
}

.applying {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 7;
  -ms-grid-row: 7;
      grid-row-start: 7;
  grid-row-end: 12;
  display: -ms-grid;
  display: grid;
  color: #fff;
  padding-right: 4vw;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 5.2vw 3.75vw 6.625vw;
      grid-template-rows: 5.2vw 3.75vw 6.625vw;
  margin-left: 2vw;
}

.applying span.app_head {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 4;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  margin-left: 1.5vw;
  font-size: 2.5vw;
}

.applying span.app_text {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 5;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 5;
  margin-left: 1.5vw;
  margin-right: 1.4vw;
  font-size: 1.564537157757497vw;
}

.cream_composition {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 9;
  -ms-grid-row: 5;
      grid-row-start: 5;
  grid-row-end: 6;
  display: -ms-grid;
  display: grid;
  border-top: 0.15vw solid #ef2422;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  -ms-grid-rows: 2vw 49.76010430247718vw;
      grid-template-rows: 2vw 49.76010430247718vw;
  grid-column-gap: 3.125vw;
  max-height: 51.76010430247718vw;
  height: 51.76010430247718vw;
  background-image: -webkit-gradient(linear, left top, right top, from(#f1f1f1), color-stop(35%, #f1f1f1), color-stop(70%, #e3e3e3), to(#e3e3e3));
  background-image: linear-gradient(to right, #f1f1f1 0%, #f1f1f1 35%, #e3e3e3 70%, #e3e3e3 100%);
}

.comp_headline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 7;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  height: 5vw;
  background: #ef2422;
  margin-top: -2.5vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2.5vw;
  color: #fff;
  margin-left: 3.780964797913951vw;
  margin-right: 1.216427640156454vw;
}

.comp_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 7;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #27282a;
  font-size: 1.564537157757497vw;
  margin-left: 3.780964797913951vw;
  margin-right: 1.216427640156454vw;
}

.comp_pict {
  display: none;
}

.another_products {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 9;
  -ms-grid-row: 6;
      grid-row-start: 6;
  grid-row-end: 7;
  display: -ms-grid;
  display: grid;
  border-top: 0.15vw solid #ef2422;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  -ms-grid-rows: 4vw 24.42242503259452vw 23.989569752281618vw;
      grid-template-rows: 4vw 24.42242503259452vw 23.989569752281618vw;
  grid-column-gap: 3.125vw;
  height: 52.15123859191656vw;
  max-height: 52.15123859191656vw;
}

.another_products br {
  display: inline;
}

.ap_headline {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 7;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  height: 8vw;
  background: #ef2422;
  margin-top: -4vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2.5vw;
  color: #fff;
  z-index: 20;
  margin-left: 3.780964797913951vw;
  margin-right: 1.216427640156454vw;
  text-align: center;
}

.ap_1block {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 5;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f2f2f2), to(#ffffff));
  background-image: linear-gradient(to top, #f2f2f2 0%, #ffffff 100%);
  max-height: 28.42242503259452vw;
  height: 28.42242503259452vw;
  width: 18.513689700130378vw;
  max-width: 18.513689700130378vw;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 2vw 26.42242503259452vw;
      grid-template-rows: 2vw 26.42242503259452vw;
  margin-left: 3.780964797913951vw;
}

.ap_1block img {
  width: 16.427640156453716vw;
  height: 13.559322033898304vw;
  margin-bottom: -2.4vw;
}

.ap_2block {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 5;
      grid-column-start: 5;
  grid-column-end: 7;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f2f2f2), to(#ffffff));
  background-image: linear-gradient(to top, #f2f2f2 0%, #ffffff 100%);
  max-height: 28.42242503259452vw;
  height: 28.42242503259452vw;
  width: 18.513689700130378vw;
  max-width: 18.513689700130378vw;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 2vw 26.42242503259452vw;
      grid-template-rows: 2vw 26.42242503259452vw;
  margin-left: 0.7vw;
}

.ap_2block img {
  width: 18.513689700130378vw;
  height: 22.946544980443285vw;
  margin-bottom: -2.4vw;
}

.ap-block-img {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 5;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.ap-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 4;
  margin-top: 0vw;
  font-size: 1.25vw;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: #fff;
}

.ap-txt span.Vichy {
  font-weight: bold;
}

.ap-t1 {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 5;
  margin-left: 3.780964797913951vw;
  padding-right: 2vw;
}

.ap-t2 {
  -ms-grid-column: 5;
      grid-column-start: 5;
  grid-column-end: 7;
  padding-left: 0vw;
  padding-right: 4vw;
}
/*# sourceMappingURL=small.css.map */