.reg_enter {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  background: url(../img/regEnter/enter_bg.jpg) center no-repeat;
  background-size: 100%;
  z-index: 101;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.reg_enter input {
  outline: none;
}

.reg_enter .f-enter {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 6.21875vw 22.1875vw;
      grid-template-rows: 6.21875vw 22.1875vw;
  background: #fff;
  width: 40.234375vw;
  height: 28.40625vw;
  border-radius: 10px;
}

.reg_enter .f-enter input.close-btn {
  position: absolute;
  right: 1vw;
  top: 1vw;
}

.reg_enter .f-enter .enter-logo {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  height: 6.71875vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.reg_enter .f-enter .enter-logo img {
  margin-left: 3vw;
  height: 3.515625vw;
  width: 8.203125vw;
}

.reg_enter .f-enter .enter-logo input {
  border: 0;
  height: 2vw;
  width: 2vw;
  background: url(../img/regEnter/close-icon.png) center center no-repeat;
  cursor: pointer;
}

.reg_enter .f-enter form {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  height: 22.1875vw;
  -ms-grid-row: 2;
      grid-row-start: 2;
  margin-left: 3vw;
  font-family: "Open Sans", sans-serif;
}

.reg_enter .f-enter form #log-enter {
  width: 26.171875vw;
  height: 3.125vw;
  border: 0;
  border-bottom: solid 1px;
  font-size: 1.2vw;
  padding-left: 0.7vw;
}

.reg_enter .f-enter form #pass-enter {
  width: 26.171875vw;
  height: 3.125vw;
  border: 0;
  border-bottom: solid 1px;
  margin-bottom: 1vw;
  font-size: 1.2vw;
  padding-left: 0.7vw;
}

.reg_enter .f-enter form h2 {
  font-size: 1.8vw;
  font-weight: 600;
  margin-left: 0.7vw;
}

.reg_enter .f-enter form span {
  margin-left: 0.7vw;
  font-size: 1vw;
  color: #7b7d7f;
}

.reg_enter .f-enter form span a {
  text-decoration: underline;
  color: #3c7abf;
}

.reg_enter .f-enter form #enter-btn {
  height: 3.90625vw;
  width: 12.5vw;
  border-radius: 2.34375vw;
  border: 0;
  margin-top: 1vw;
  background-image: -webkit-linear-gradient(0deg, #227d94 0%, #1f4f64 100%);
  -webkit-box-shadow: 4px 6.928px 16px 0px #1f5267;
          box-shadow: 4px 6.928px 16px 0px #1f5267;
  color: #fff;
  font-size: 1.2vw;
  vertical-align: middle;
  cursor: pointer;
}

.reg_enter .f-enter_active {
  display: -ms-grid;
  display: grid;
}

.reg_enter .f-enter_inactive {
  display: none;
}

.reg_enter .f-reg {
  position: relative;
  display: none;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 6.21875vw 22.1875vw;
      grid-template-rows: 6.21875vw 22.1875vw;
  background: #fff;
  width: 40.234375vw;
  height: 28.40625vw;
  border-radius: 10px;
}

.reg_enter .f-reg input.close-btn {
  position: absolute;
  right: 1vw;
  top: 1vw;
}

.reg_enter .f-reg .enter-logo {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  height: 6.71875vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.reg_enter .f-reg .enter-logo img {
  margin-left: 3vw;
  height: 3.515625vw;
  width: 8.203125vw;
}

.reg_enter .f-reg .enter-logo input {
  border: 0;
  height: 2vw;
  width: 2vw;
  background: url(../img/regEnter/close-icon.png) center center no-repeat;
  cursor: pointer;
}

.reg_enter .f-reg form {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  height: 22.1875vw;
  -ms-grid-row: 2;
      grid-row-start: 2;
  margin-left: 3vw;
  font-family: "Open Sans", sans-serif;
}

.reg_enter .f-reg form #log-reg {
  width: 26.171875vw;
  height: 3.125vw;
  border: 0;
  border-bottom: solid 1px;
  font-size: 1.2vw;
  padding-left: 0.7vw;
}

.reg_enter .f-reg form #pass-reg {
  width: 26.171875vw;
  height: 3.125vw;
  border: 0;
  border-bottom: solid 1px;
  margin-bottom: 1vw;
  font-size: 1.2vw;
  padding-left: 0.7vw;
}

.reg_enter .f-reg form h2 {
  font-size: 1.8vw;
  font-weight: 600;
  margin-left: 0.7vw;
}

.reg_enter .f-reg form span {
  margin-left: 0.7vw;
  font-size: 1vw;
  color: #7b7d7f;
}

.reg_enter .f-reg form span a {
  display: inline;
  text-decoration: underline;
  color: #3c7abf;
}

.reg_enter .f-reg form span .hide-pass {
  display: none;
}

.reg_enter .f-reg form span .hide-pass_active {
  display: inline;
}

.reg_enter .f-reg form span .show-pass_inactive {
  display: none;
}

.reg_enter .f-reg form #enter-btn {
  height: 3.90625vw;
  width: 12.5vw;
  border-radius: 2.34375vw;
  border: 0;
  margin-top: 1vw;
  background-image: -webkit-linear-gradient(0deg, #227d94 0%, #1f4f64 100%);
  -webkit-box-shadow: 4px 6.928px 16px 0px #1f5267;
          box-shadow: 4px 6.928px 16px 0px #1f5267;
  color: #fff;
  font-size: 1.2vw;
  vertical-align: middle;
  cursor: pointer;
}

.reg_enter .f-reg_inactive {
  display: none;
}

.reg_enter .f-reg_active {
  display: -ms-grid;
  display: grid;
}

.reg_enter_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0 auto;
  width: 100vw;
}

.inactive_body {
  position: fixed;
}

.container {
  width: 100vw;
  margin: 0 auto;
}

.container_inactive {
  visibility: hidden;
}

.wrapper {
  width: 100vw;
  height: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(auto, auto);
  grid-column-gap: 1.5625vw;
}

a, select {
  cursor: pointer;
  text-decoration: none;
  color: #000;
}

header {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 13;
  width: 100vw;
  height: 5.546875vw;
  background: #fff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(auto, auto);
  grid-column-gap: 1.5625vw;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 199;
}

.nav-panel {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 13;
  width: 100vw;
  height: 5.546875vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(auto, auto);
  grid-column-gap: 1.5625vw;
}

.nav-panel .head_services {
  visibility: hidden;
  margin-right: -2.01vw;
  margin-left: 2vw;
  z-index: 99;
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 11;
  -ms-grid-row: 2;
      grid-row-start: 2;
  display: -ms-grid;
  display: grid;
  height: 17.34375vw;
  -ms-grid-columns: (1fr)[9];
      grid-template-columns: repeat(9, 1fr);
  -ms-grid-rows: 3.125vw 2.03125vw 2.03125vw 2.03125vw 2.03125vw 2.03125vw 2.03125vw 2.03125vw 2.03125vw 2.03125vw;
      grid-template-rows: 3.125vw 2.03125vw 2.03125vw 2.03125vw 2.03125vw 2.03125vw 2.03125vw 2.03125vw 2.03125vw 2.03125vw;
  grid-column-gap: 1.5625vw;
  background: #f6f7f7;
  font-family: "OpenSans", sans-serif;
  align-self: flex-start;
}

.nav-panel .head_services ul {
  list-style: none;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}

.nav-panel .head_services ul a {
  text-decoration: none;
  color: #000;
  font-family: "OpenSans", sans-serif;
  font-size: 1vw;
}

.nav-panel .head_services ul li {
  margin-bottom: 0.7vw;
  font-size: 1.09375vw;
}

.nav-panel .head_services ul li.head {
  margin-bottom: 1.3vw;
}

.nav-panel .head_services .law_s {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
      grid-row-start: 1;
  margin-left: 4vw;
}

.nav-panel .head_services .intellectual {
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 7;
  -ms-grid-row: 1;
      grid-row-start: 1;
}

.nav-panel .head_services .ad {
  -ms-grid-column: 7;
      grid-column-start: 7;
  grid-column-end: 10;
  -ms-grid-row: 1;
      grid-row-start: 1;
}

.nav-panel .head_services_active {
  visibility: visible;
}

.nav-logo {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 5.46875vw;
}

.nav-logo img {
  height: 3.671875vw;
  width: 8.203125vw;
}

.nav-menu {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 13;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[10];
      grid-template-columns: repeat(10, 1fr);
  grid-auto-rows: minmax(auto, auto);
  grid-column-gap: 1.5625vw;
}

.nav-menu nav.nav-left {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-menu nav.nav-left ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
  margin-left: -1.5vw;
}

.nav-menu nav.nav-left ul a {
  text-decoration: none;
  color: #000;
  font-family: "OpenSans", sans-serif;
  font-size: 1.09375vw;
}

.nav-menu nav.nav-left ul li {
  min-width: 3vw;
  margin-right: 1.5vw;
}

.nav-menu .nav-right {
  -ms-grid-column: 8;
      grid-column-start: 8;
  grid-column-end: 11;
  display: -ms-grid;
  display: grid;
  height: 5.546875vw;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1.5625vw;
}

.nav-menu .nav-our-serv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 8.8vw;
}

.nav-menu .nav-our-serv a {
  border: 0;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5.546875vw;
  width: 8.8vw;
}

.nav-menu .nav-our-serv a span {
  font-family: "OpenSans", sans-serif;
  font-size: 1.09375vw;
  margin-right: 0.5vw;
}

.nav-menu .service-btn_active {
  z-index: 99;
  background: #f6f7f7;
}

.nav-menu .nav-enter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-menu .nav-enter a {
  background: #fff;
  border: 0;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-menu .nav-enter a span {
  margin-right: 0.2vw;
  font-family: "OpenSans", sans-serif;
  font-size: 1.09375vw;
}

.nav-menu .nav-enter a img {
  height: 70%;
}

.nav-menu .nav-lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-menu .nav-lang img {
  margin-left: -0.8vw;
}

.nav-menu .nav-lang select {
  background: #fff;
  border: 0;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 2.5vw;
}

.nav-menu .nav-lang select option {
  border: 0;
  outline: none;
  margin: 0 auto;
}

.big_slider {
  width: 100vw;
  height: 50.390625vw;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 13;
}

.big_slider .bs {
  width: 100vw;
  height: 50.390625vw;
}

.big_slider .big_slide1 {
  background: url(../img/mainPage/slide_1.jpg) center center no-repeat;
  background-size: 100vw 50.390625vw;
}

.big_slider .big_slide2 {
  background: url(../img/mainPage/slide_2.jpg) center center no-repeat;
  background-size: 100vw 50.390625vw;
}

.big_slider .big_slide3 {
  background: url(../img/mainPage/slide_3.jpg) center center no-repeat;
  background-size: 100vw 50.390625vw;
}

.big_slider .big_slide4 {
  background: url(../img/mainPage/slide_4.jpg) center center no-repeat;
  background-size: 100vw 50.390625vw;
}

.big_slider .big_slide5 {
  background: url(../img/mainPage/slide_5.jpg) center center no-repeat;
  background-size: 100vw 50.390625vw;
}

.slick-dots {
  text-align: center;
  position: relative;
  margin-top: -3vw;
  height: 1.875vw;
  bottom: 0px;
}

.slick-dots li button:before {
  color: #fff;
  opacity: 0.8;
  font-size: 9px;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 0.8;
  color: #fff;
}

.slick-dots li.slick-active button:before {
  opacity: 1;
  color: #000000;
}

.slick-dotted.slick-slider {
  margin-bottom: 0px;
}

.arrow {
  position: absolute;
  width: 2rem;
  height: 2rem;
  border: 0;
  top: 50%;
  -webkit-transform: scaleY(-50%);
          transform: scaleY(-50%);
  z-index: 99;
  outline: none;
}

.prev {
  background: url(../img/icons/prev-arrow.png) center no-repeat;
  background-size: 70%;
  left: 1vw;
}

.next {
  right: 1vw;
  background-size: 70%;
  background: url(../img/icons/next-arrow.png) center no-repeat;
}

.video_block {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 13;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(auto, auto);
  grid-column-gap: 1.5625vw;
  width: 100vw;
  height: 43.515625vw;
}

.video-wrapp {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 13;
  background: #fff;
  margin: 4.296875vw 5.46875vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
      grid-template-areas: "bigV smallV1" "bigV smallV2";
  grid-column-gap: 2.34375vw;
  grid-row-gap: 1.953125vw;
}

.big-v-w {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: bigV;
  background: url(../img/video1.jpg) center no-repeat;
  background-size: auto 100%;
}

.svw1 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: smallV1;
  background: url(../img/video2.jpg) center no-repeat;
  background-size: 100%;
}

.svw2 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: smallV2;
  background: url(../img/video3.jpg) center no-repeat;
  background-size: 100%;
}

.our_clients {
  width: 100vw;
  height: 23.4375vw;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 13;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: 4.6875vw 18.75vw;
      grid-template-rows: 4.6875vw 18.75vw;
  grid-column-gap: 1.5625vw;
}

.headline {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 5;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  margin-left: 5.46875vw;
  font-family: "Montserrat", sans-serif;
  font-size: 1.8vw;
  font-weight: 800;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cl-slider {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 13;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
}

.cl-slider .slick-list {
  margin-right: 3.90625vw;
  margin-left: 3.90625vw;
}

.free_advice {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 13;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(auto, auto);
  background: url(../img/advice_bg.jpg) center no-repeat;
  background-size: 100%;
  width: 98.5vw;
  height: 28.90625vw;
}

.r_our_blog {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 13;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: 9.375vw 26.171875vw;
      grid-template-rows: 9.375vw 26.171875vw;
  grid-column-gap: 1.5625vw;
  width: 100vw;
  height: 39.0625vw;
}

.r_our_blog .headline {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 6;
}

.blog-slider {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 13;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
}

.blog-slider .slick-list {
  margin-right: 3.90625vw;
  margin-left: 4.90625vw;
}

.blog-slider .arrow {
  position: absolute;
  width: 2rem;
  height: 2rem;
  border: 0;
  top: 25%;
  -webkit-transform: scaleY(-50%);
          transform: scaleY(-50%);
  z-index: 99;
  outline: none;
}

.blogs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 21.09375vw;
      grid-template-columns: 21.09375vw;
  -ms-grid-rows: 16.796875vw 8.203125vw 5.078125vw;
      grid-template-rows: 16.796875vw 8.203125vw 5.078125vw;
}

.bl_slide1 .bl_photo {
  background: url(../img/blog_slide1.jpg) center no-repeat;
  background-size: 21.09375vw 16.796875vw;
}

.bl_slide2 .bl_photo {
  background: url(../img/blog_slide2.jpg) center no-repeat;
  background-size: 21.09375vw 16.796875vw;
}

.bl_slide3 .bl_photo {
  background: url(../img/blog_slide3.jpg) center no-repeat;
  background-size: 21.09375vw 16.796875vw;
}

.bl_slide4 .bl_photo {
  background: url(../img/blog_slide4.jpg) center no-repeat;
  background-size: 21.09375vw 16.796875vw;
}

.bl_slide5 .bl_photo {
  background: url(../img/blog_slide3.jpg) center no-repeat;
  background-size: 21.09375vw 16.796875vw;
}

.bl_photo {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  width: 21.09375vw;
  height: 16.796875vw;
}

.bl_text {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  width: 21.09375vw;
  height: 8.203125vw;
  font-family: "OpenSans", sans-serif;
  font-size: 1.2vw;
}

.bl_link {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 4;
  width: 21.09375vw;
  height: 5.078125vw;
}

.bl_link a {
  text-decoration: none;
  color: #f2b432;
  font-family: "OpenSans", sans-serif;
  font-size: 1vw;
}

.contacts {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 13;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 1.5625vw;
  height: 34.21875vw;
}

.map {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 4;
  height: 34.21875vw;
  background: url(../img/map.jpg) center no-repeat;
}

.contact-data {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5fr;
      grid-template-columns: 1fr 5fr;
  grid-auto-rows: minmax(2vw, auto);
  font-family: "Montserrat", sans-serif;
}

.contact-data .c-headline {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  font-size: 1.9vw;
  font-weight: 800;
  height: 6vw;
}

.contact-data .c-text {
  font-family: "OpenSans", sans-serif;
  font-size: 1.1vw;
}

.contact-data .c-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 13;
  background: #00586e;
  height: 28.125vw;
  width: 100vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: 6.25vw 3.125vw 2.03125vw 2.03125vw 2.03125vw 2.03125vw 2.03125vw 2.03125vw 2.03125vw 2.03125vw 2.03125vw;
      grid-template-rows: 6.25vw 3.125vw 2.03125vw 2.03125vw 2.03125vw 2.03125vw 2.03125vw 2.03125vw 2.03125vw 2.03125vw 2.03125vw;
  grid-row-gap: 1px;
  grid-column-gap: 1.5625vw;
}

.foot_menu {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 8;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  height: 6.25vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.foot_menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
  margin-left: 4vw;
}

.foot_menu ul a {
  text-decoration: none;
  color: #fff;
  font-family: "OpenSans", sans-serif;
  font-size: 1.09375vw;
}

.foot_menu ul li {
  margin-right: 1.4vw;
}

.foot_services {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 10;
  -ms-grid-row: 2;
      grid-row-start: 2;
  display: -ms-grid;
  display: grid;
  height: 17.34375vw;
  -ms-grid-columns: (1fr)[9];
      grid-template-columns: repeat(9, 1fr);
  -ms-grid-rows: 3.125vw 2.03125vw 2.03125vw 2.03125vw 2.03125vw 2.03125vw 2.03125vw 2.03125vw 2.03125vw 2.03125vw;
      grid-template-rows: 3.125vw 2.03125vw 2.03125vw 2.03125vw 2.03125vw 2.03125vw 2.03125vw 2.03125vw 2.03125vw 2.03125vw;
  grid-column-gap: 1.5625vw;
  color: #fff;
  font-family: "OpenSans", sans-serif;
  align-self: flex-start;
}

.foot_services ul {
  list-style: none;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}

.foot_services ul a {
  text-decoration: none;
  color: #fff;
  font-family: "OpenSans", sans-serif;
  font-size: 1.09375vw;
}

.foot_services ul li {
  margin-bottom: 0.7vw;
}

.foot_services ul li.head {
  margin-bottom: 1.3vw;
}

.foot_services .foot_headline {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  margin-left: 4vw;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.foot_services .law_s {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  -ms-grid-row: 2;
      grid-row-start: 2;
  margin-left: 4vw;
}

.foot_services .intellectual {
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 7;
  -ms-grid-row: 2;
      grid-row-start: 2;
}

.foot_services .ad {
  -ms-grid-column: 7;
      grid-column-start: 7;
  grid-column-end: 10;
  -ms-grid-row: 2;
      grid-row-start: 2;
}

.social_icons {
  -ms-grid-column: 10;
      grid-column-start: 10;
  grid-column-end: 12;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-left: 5vw;
}

.social_icons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  list-style: none;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}

.social_icons ul li {
  text-decoration: none;
  color: #fff;
  font-family: "OpenSans", sans-serif;
  font-size: 1.09375vw;
  height: 3.671875vw;
  width: 3.671875vw;
  margin-right: 0.7vw;
}

.social_icons ul li.facebook {
  background: url(../img/icons/Facebook.png) center no-repeat;
  background-size: 3.671875vw 3.671875vw;
}

.social_icons ul li.instagram {
  background: url(../img/icons/Instagram.png) center no-repeat;
  background-size: 3.671875vw 3.671875vw;
}

.social_icons ul li.whatsup {
  background: url(../img/icons/whatsup.png) center no-repeat;
  background-size: 3.671875vw 3.671875vw;
}

.feedback {
  -ms-grid-column: 10;
      grid-column-start: 10;
  grid-column-end: 12;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 5vw;
}

.feedback ul {
  list-style: none;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}

.feedback ul a {
  text-decoration: none;
  color: #fff;
  font-family: "OpenSans", sans-serif;
  font-size: 1.09375vw;
}

.feedback ul li {
  text-decoration: none;
  color: #fff;
  font-family: "OpenSans", sans-serif;
  font-size: 1.09375vw;
  margin-bottom: 1vw;
}

.trademarks_search {
  position: absolute;
  background: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.trademarks_search h2, .trademarks_search p, .trademarks_search input {
  margin-left: 4.296875vw;
  margin-right: 3.75vw;
}

.trademarks_search h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.046875vw;
  margin-top: 3vw;
}

.trademarks_search p {
  font-family: "OpenSans", sans-serif;
  font-size: 1.7vw;
  margin-top: -1vw;
}

.trademarks_search input {
  height: 3.90625vw;
  width: 15.625vw;
  border-radius: 2vw;
  background-image: -webkit-linear-gradient(0deg, #227d94 0%, #1f4f64 100%);
  -webkit-box-shadow: 4px 6.928px 16px 0px #1f5267;
          box-shadow: 4px 6.928px 16px 0px #1f5267;
  border: 0;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 1vw;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
}

.main-text {
  width: 100vw;
  background: #f6f7f7;
}

.main-services {
  width: 100vw;
  background: #fff;
}

.leave-request {
  width: 100vw;
  background: #f6f7f7;
}

.about {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 13;
  width: 100vw;
  height: 38.28125vw;
  background: #f6f7f7;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-column-gap: 1.5625vw;
}

.about .about-photo {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .about-photo img {
  height: 30vw;
  width: 44.53125vw;
  margin-left: 5.46875vw;
}

.about .about-text {
  -ms-grid-column: 7;
      grid-column-start: 7;
  grid-column-end: 13;
  display: -ms-grid;
  display: grid;
  grid-column-gap: 1.5625vw;
  -ms-grid-rows: 8vw 7vw 15vw;
      grid-template-rows: 8vw 7vw 15vw;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .about-text h2 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 7;
  -ms-grid-row: 2;
      grid-row-start: 2;
  font-family: "Montserrat", sans-serif;
  font-size: 3.246875vw;
  margin-left: 3.046875vw;
}

.about .about-text p {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 7;
  -ms-grid-row: 3;
      grid-row-start: 3;
  font-family: "OpenSans", sans-serif;
  font-size: 1.4vw;
  margin-left: 3.046875vw;
  margin-right: 3.046875vw;
}

.some_numerals {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 13;
  width: 100vw;
  height: 21.484375vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: minmax(auto, auto);
      grid-template-areas: "snhead snhead snhead snhead" "win rtm rcr ptl";
}

.some_numerals h2 {
  font-family: "OpenSans", sans-serif;
  color: #00586e;
  font-size: 5.234375vw;
  margin-top: 0;
  margin-bottom: 0;
}

.some_numerals p {
  font-family: "OpenSans", sans-serif;
  font-size: 1.09375vw;
  font-weight: 400;
}

.some_numerals .sn_headline {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: snhead;
  height: 7vw;
}

.some_numerals .sn_headline h2 {
  font-size: 2.890625vw;
  color: #000;
  font-family: "Montserrat", sans-serif;
  margin-left: 5.546875vw;
  margin-top: 2vw;
}

.some_numerals .wins {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: win;
  height: 21.484375vw;
}

.some_numerals .wins h2, .some_numerals .wins p {
  margin-left: 5.546875vw;
}

.some_numerals .reg_trademarks {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: rtm;
  height: 21.484375vw;
}

.some_numerals .reg_copyright {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: rcr;
  height: 21.484375vw;
}

.some_numerals .pre-trial {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: ptl;
  height: 21.484375vw;
}

.proffesionals {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 13;
  width: 100vw;
  height: 102.34375vw;
  background: #f6f7f7;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: minmax(auto, auto);
      grid-template-areas: "prohead prohead prohead" "p1 p2 p3" "p4 p5 p6";
  grid-column-gap: 3.515625vw;
  grid-row-gap: 3.90625vw;
}

.proffesionals .proff-headline {
  height: 9.0625vw;
  margin-bottom: -3.2vw;
}

.proffesionals .proff-headline h2 {
  font-size: 3.000625vw;
  color: #000;
  font-family: "Montserrat", sans-serif;
  margin-left: 5.546875vw;
  margin-top: 3.5vw;
}

.proffesionals .proff {
  width: 27.34375vw;
  height: 47.8125vw;
  margin-top: -3.90625vw;
}

.proffesionals .proff-photo {
  width: 27.34375vw;
  height: 19.375vw;
}

.proffesionals .proff-photo img {
  width: 27.34375vw;
  height: 19.375vw;
}

.proffesionals .proff-text {
  width: 27.34375vw;
  height: 28.4375vw;
  background: #fff;
  margin-top: -1.1vw;
}

.proffesionals .proff-text h3, .proffesionals .proff-text span, .proffesionals .proff-text p {
  margin-left: 1.7968749999999998vw;
  margin-right: 2.734375vw;
}

.proffesionals .proff-text h3 {
  font-family: "OpenSans", sans-serif;
  font-size: 1.25vw;
  font-weight: 700;
  padding-top: 1vw;
}

.proffesionals .proff-text span {
  color: #a7a7a7;
  font-family: "OpenSans", sans-serif;
  font-size: 1.09vw;
  font-weight: 400;
}

.proffesionals .proff-text p {
  font-family: "OpenSans", sans-serif;
  font-size: 1.09vw;
  font-weight: 400;
}

.proffesionals .proff-headline {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: prohead;
}

.proffesionals .proff-1 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: p1;
  margin-left: 5.46875vw;
}

.proffesionals .proff-2 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: p2;
}

.proffesionals .proff-3 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: p3;
  margin-right: 5.46875vw;
}

.proffesionals .proff-4, .proffesionals .proff-5, .proffesionals .proff-6 {
  height: 37.5vw;
}

.proffesionals .proff-4 .proff-text, .proffesionals .proff-5 .proff-text, .proffesionals .proff-6 .proff-text {
  height: 18.28125vw;
}

.proffesionals .proff-4 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: p4;
  margin-left: 5.46875vw;
}

.proffesionals .proff-5 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: p5;
}

.proffesionals .proff-6 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: p6;
  margin-right: 5.46875vw;
}

.tagline {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 13;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 18.359375vw;
}

.tagline img {
  margin-left: 5.46875vw;
}

.tagline h3 {
  font-size: 2.890625vw;
  color: #000;
  font-family: "Montserrat", sans-serif;
  margin-left: 2.34375vw;
}

.certificates {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 13;
  height: 38.046875vw;
  background: #f6f7f7;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(auto, auto);
}

.certificates .cert-headline {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 13;
  height: 9.375vw;
  margin-bottom: -5vw;
}

.certificates .cert-headline h2 {
  font-size: 3.000625vw;
  color: #000;
  font-family: "Montserrat", sans-serif;
  margin-left: 5.546875vw;
  margin-top: 3.5vw;
}

.certificates .cert-slider {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 13;
  width: 76.5625vw;
  margin-left: 5.46875vw;
}

.certificates .cert-slider .c-slide {
  margin-right: 2.34375vw;
  height: 25vw;
  width: 17.578125vw;
}

.certificates .cert-slider .c-slide img {
  height: 25vw;
  width: 17.578125vw;
  margin-right: 2.34375vw;
}

.blok-main {
  position: relative;
  height: 72.65625vw;
  width: 100vw;
}

.blok-main .trademarks_search {
  width: 28.125vw;
  height: 42.1875vw;
  top: 1vw;
  right: 3.8vw;
}

.blok-main .main-text {
  height: 27.734375vw;
}

.blok-main .main-services {
  height: 16.415625vw;
}

.blok-main .leave-request {
  height: 28.484375vw;
}
/*# sourceMappingURL=style.css.map */